{% extends "base.html" %}
{% comment %}
==================================================================================
A page that offers a view on event statistics.

Two types of event are envisaged. 

1. The implicit event of n days duration (nominally 1 for a games night)
	we could default to "flexible" when no duration is specifed.
	League and location filters are important
	"flexible" could walk backwards in time, through sessions meeting the 
		filter, and fidning one pegging an end of event then walkimg backwards 
		until a game of more than 1 day is found and pegging an event start 
		there. 

2. The explicit event (from the events model) - not yet in use.
==================================================================================
{% endcomment %}

{% load static %}
{% load filters %}
{% load tags %}
{% load humanize %} 
{% block title %}{{ title }}{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}" />
{% endblock %}

{#======================#}
{#		A SUB MENU		#}
{#======================#}

{% block submenu %}
{% endblock %}

{#======================#}
{#		CONTENT			#}
{#======================#}

{% block content %}
{% if filter %}
<h1>Filters</h1>
<table>
	{% if filter.leagues %}
	<tr>
		<td>Leagues:</td><td>{{ filter.leagues }}</td>
	</tr>	
	{% endif %}
	{% if filter.locations %}
	<tr>
		<td>Locations:</td><td>{{ filter.locations }}</td>
	</tr>	
	{% endif %}
	{% if filter.date_from %}
	<tr>
		<td>From:</td><td>{{ filter.date_from }}</td>
	</tr>	
	{% endif %}
	{% if filter.date_to %}
	<tr>
		<td>To:</td><td>{{ filter.date_to }}</td>
	</tr>	
	{% endif %}
	{% if filter.num_days %}
	<tr>
		<td>Minimim number of days:</td><td>{{ filter.num_days }}</td>
	</tr>	
	{% endif %}
	{% if filter.gap_days %}
	<tr>
		<td>Minimum gap in days, between events:</td><td>{{ filter.gap_days }}</td>
	</tr>	
	{% endif %}
</table>
{% endif %}

<h1>Summary Statistics</h1>
<table>
	<tr>
		<th>Count</th>
		<th>Minimum</th>
		<th>Average</th>
		<th>Median</th>
		<th>Maximum</th>
	</tr>
	<tr>
		<td>Players</td>
		<td>{{ stats.players__min }}</td>
		<td>{{ stats.players__avg|floatformat }}</td>
		<td>{{ stats.players__median|floatformat }}</td>
		<td>{{ stats.players__max }}</td>
	</tr>
	<tr>
		<td>Games</td>
		<td>{{ stats.games__min }}</td>
		<td>{{ stats.games__avg|floatformat }}</td>
		<td>{{ stats.games__median|floatformat }}</td>
		<td>{{ stats.games__max }}</td>
	</tr>
	<tr>
		<td>Sessions</td>
		<td>{{ stats.sessions__min }}</td>
		<td>{{ stats.sessions__avg|floatformat }}</td>
		<td>{{ stats.sessions__median|floatformat }}</td>
		<td>{{ stats.sessions__max }}</td>
	</tr>	
</table>

<h1>List of Events</h1>
<table>
	<tr>
		<th>Event</th>
		<th>When</th>
		<th>Start</th>
		<th>End</th>
		<th>Duration</th>
		<th>Locations</th>
{#		<th>Locations IDs</th>#}
		<th>Location</th>
		<th>Players</th>
{#		<th>Player IDs</th>#}
		<th>Games Played</th>
{#		<th>Game IDs</th>#}
		<th>Sessions Played</th>
{#		<th>Session IDs</th>#}
	</tr>
{% for event in events %}
	<tr>
		<td>{{ event.event }}</td>
		<td>{{ event.start|naturaltime }}</td>
		<td>{{ event.start }}</td>
		<td>{{ event.end }}</td>
		<td>{{ event.duration }}</td>
		<td>{{ event.locations }}</td>
{#		<td>{{ event.location_ids }}</td>#}
		<td>{{ event.location_ids.0 }}</td>
		<td>{{ event.players }}</td>
{#		<td>{{ event.player_ids }}</td>#}
		<td>{{ event.games }}</td>
{#		<td>{{ event.game_ids }}</td>#}
		<td>{{ event.sessions }}</td>
{#		<td>{{ event.session_ids }}</td>#}
	</tr>
{% endfor %}
</table>

{% endblock %}

{#======================#}
{#		SCRIPTS			#}
{#======================#}

{% block startscript %}
{% endblock %}

{% block endscript %}
{% endblock %}
