{% extends "base.html" %}
{% comment %}
==================================================================================
A presentation of leaderboards, with a rich sub menu for selecting the
boards ofinterest. This is the central product of the leaderboards app.
==================================================================================
{% endcomment %}

{% load static %}
{% block title %}Leaderboards{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/leaderboards.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/copy_with_style.css' %}" />
{% endblock %}

{% block submenu %}
	{#   A pile of options for leaderboards that will try populate a structure in the backend - Leaderboards.views.leaderboard_options#}
	{#   while enforcing some rules locally in the UI for convenience with JS. The rules can be summarised as follows:   #}
	<section id="leaderboard_options" class="leaderboard_options">
		<div class="lbl_view">View:</div>
		<div class="lbl_basic">using:</div>
		<div class="lbl_advanced tooltip">
			<a onclick="toggle_visibility('lo_advanced', 'grid', 'options_display_button');">Advanced options <span id="options_display_button"></span></a>
			<span class="tooltiptext_right">Display or hide the advanced options</span>
		</div>

		<div class="lo_buttons">
			<div class="lo_reload_icon">
				<img id='reloading_icon' src='{% static "img/Reload.apng" %}' style='vertical-align: middle; visibility:hidden; display: inline-block'>
			</div>

			<div class="lo_reload">
				<button type="button" class="button_left tooltip" id="btnReload"  onclick="refetchLeaderboards();">
					<img src="{% static 'img/reload.png' %}"  class='img_button'>
					<span class="tooltiptext_right">Reload or redisplay leaderboards respecting the current options</span>
				</button>
			</div>

			<div class="lo_shortcuts">
			</div>

			<div class="lo_utils">
				<button type="button" class="button_right tooltip" id='btnCopy'>
					<img src="{% static 'img/copy.png' %}"  class='img_button'>
					<span class="tooltiptext_left">Copy Leaderboards (for pasting elsewhere)</span>
					<progress id='pgsCopy' value="0" max="100" style="height:10; margin-left: 1ch; display: none;"></progress>
				</button>

			  	<button type="button" class="button_right tooltip" id='btnShowURL_Static' onclick="show_url_static();">
					<img src="{% static 'img/link_fat.png' %}"  class='img_button'>
					<span class="tooltiptext_left">Copy Static URL</span>
			  	</button>

			  	<button type="button" class="button_right tooltip" id='btnShowURL' onclick="show_url();">
					<img src="{% static 'img/link_thin.png' %}" class='img_button'>
					<span class="tooltiptext_left">Copy URL</span>
			  	</button>
			</div>
		</div>

		<div class="lo_basic">
			<select id="cols" oninput='DrawTables("tblLB");' style="margin-bottom: 5px;">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			  <option>6</option>
			</select>

			<label for="cols">columns</label>,

			<label for="names">player</label>
				<select id="names" class="name_format_selector" oninput="DrawTables('tblLB');">
					{% for v, l in name_selections.items %}
					  <option value="{{ v }}">{{ l }}</option>
					{% endfor %}
				</select>

			<label for="links" class="link_target_selector" >and linking game and player names to</label>
				<select id="links" oninput="DrawTables('tblLB');">
					{% for v, l in link_selections.items %}
					  <option value="{{ v }}">{{ l }}</option>
					{% endfor %}
				</select>
		</div>

		{#	ToolTips have a cruddy implementation here. With manually tuned widths to look good, on trial. Will not travel well alas. #}
		<div class="lo_visibility">
			<div class="lo_highlight_players">
				<input type="checkbox" id="chk_highlight_players" oninput='toggle_highlights("players", this);'>
				<label for="chk_highlight_players" class="tooltip">Highlight players
				<span class="tooltiptext" style="width: 300%;">Highlight the players who played in the session that produced this leaderboard.</span>
				</label>
			</div>
			<div class="lo_highlight_changes">
				<input type="checkbox" id="chk_highlight_changes" oninput='toggle_highlights("changes", this);'>
				<label for="chk_highlight_changes" class="tooltip">Highlight changes
				<span class="tooltiptext" style="width: 350%;">Highlight the changes in the leaderboard that were produced by the session that produced the leaderboard.</span>
				</label>
			</div>
			<div class="lo_highlight__selected">
				<input type="checkbox" id="chk_highlight_selected" oninput='toggle_highlights("selected", this);'>
				<label for="chk_highlight_selected" class="tooltip">Highlight selected players
				<span class="tooltiptext" style="width: 200%;">Highlight the players selected under Players below.</span>
				</label>
			</div>
			<div class="lo_session_details">
				<input type="checkbox" id="chk_details" oninput='DrawTables("tblLB");'>
				<label for="chk_details" class="tooltip">Show session details
				<span class="tooltiptext" style="width: 300%;">Show a session header that displays the details for the session that produced this leaderboard.</span>
				</label>
			</div>
			<div class="lo_pre_predictions">
				<input type="checkbox" id="chk_analysis_pre" oninput='DrawTables("tblLB");'>
				<label for="chk_analysis_pre" class="tooltip">Show TrueSkill Predictions
				<span class="tooltiptext" style="width: 300%;">Show a session header that displays the TrueSkill predictions for this session.</span>
				</label>
			</div>
			<div class="lo_post_predictions">
				<input type="checkbox" id="chk_analysis_post" oninput='DrawTables("tblLB");'>
				<label for="chk_analysis_post" class="tooltip">Show Post-Session TrueSkill Predictions
				<span class="tooltiptext" style="width: 200%;">Show a session header that displays the TrueSkill predictions after this session was played.</span>
				</label>
			</div>
			<div class="lo_show_performances">
				<input type="checkbox" id="chk_show_performances" oninput='DrawTables("tblLB");'>
				<label for="chk_show_performances" class="tooltip">Show Expected Performances
				<span class="tooltiptext" style="width: 300%;">If any of session details, or pre- or post-session predictions are displayed, include the expected perfromances upon which the rankings and assesments were based (teeth).</span>
				</label>
			</div>
			<div class="lo_show_d_rank">
				<input type="checkbox" id="chk_show_d_rank" oninput='DrawTables("tblLB");'>
				<label for="chk_show_d_rank" class="tooltip">Show Rank Deltas
				<span class="tooltiptext" style="width: 300%;">Show a column that displays the change (delta) in player rank (position) on the leaderboard.</span>
				</label>
			</div>
			<div class="lo_show_d_rating tooltip">
				<input type="checkbox" id="chk_show_d_rating" oninput='DrawTables("tblLB");'>
				<label for="chk_show_d_rating" class="tooltip">Show Rating Deltas
				<span class="tooltiptext" style="width: 300%;">Show a column that displays the change (delta) in player ratings.</span>
				</label>
			</div>
			<div class="lo_show_baseline">
				<input type="checkbox" id="chk_show_baseline" oninput='get_and_report_metrics(leaderboards, this.checked);DrawTables("tblLB");'>
				<label for="chk_show_baseline" class="tooltip">Show Baseline
				<span class="tooltiptext" style="width: 300%;">Show (the otherwise hidden) baseline leaderboard snapshots that were included only to permit display of the delta columns on earliest snapshot (otherwise) displayed.</span>
				</label>
			</div>
			<div class="lo_select_players">
				{% comment %}
				TODO: This checkbox requires a server round trip. This is in part because it needs to know the session player PKs
				(available in the leaderboards client side too) and the context of snapshots (manual request or event based) which
				is also available client side. Thus could implement this client side. But it's complicated by the nature of what
				it does. It populates the Players selector. Could do that when checked. But it travels with the URL opts as does
				the player list. And what happens if it is checked, then the snap context changed or the Players selector changed manually.
				In the latter case if any of the view players are removed, this should uncheck. If others are added, no impact. If the
				snap context changes, and this is checked the Players selector needs repopulating. Always with a superset of what was
				in there, only adding players technically - so manual adds aren't clobbered. If this is unchecked it should just
				leave the Players list untouched. So it becomes a kind of pump. And option that survives round tripping and hence is
				used in generating the inital view.
				{% endcomment %}
				<input type="checkbox" id="chk_select_players">
				<label for="chk_select_players" class="tooltip">Select players
				<span class="tooltiptext" style="width: 300%;">Select all the players relevant to the current view (i.e. populate the Players selector)</span>
				</label>
			</div>
			<div class="lo_show_cross_league_snaps">
				<input type="checkbox" id="chk_show_cross_league_snaps">
				<label for="chk_show_cross_league_snaps" class="tooltip">Show Cross-League Snapshots
				<span class="tooltiptext" style="width: 300%;">Ordinarily, only snapshots played in selected leagues are displayed
				(or any league if none are selected).If selected, this will include any snapshots played by players in this league
				(this embraces snapshots they may have played in other leagues)</span>
				</label>
			</div>
		</div>

		<section class="lo_advanced">
			<div class="button_apply">
				<button type="button" id='btnApply' onclick="refetchLeaderboards('reloading_icon_advanced');">Apply</button>
				<img id='reloading_icon_advanced' src='{% static "img/Reload.apng" %}' style='horizontal-align: left; vertical-align: middle; visibility:hidden;'>
			</div>

			<div class="label_filtering">Filtering:</div>
			<div class="filter_games">Games:</div>
			<div class="intro_games">Display leaderboards</div>
			<div class="filter_players">Players</div>
			<div class="intro_players">Show</div>
			<div class="label_perspective">Perspective:</div>
			<div class="label_evolution">Evolution:</div>

			<div class="selectors_multi">
			    <div class="label_games">Games(s)</div>
			    <div class="select_games">{{ widget_games }}</div>
			    <div class="label_players">Players(s)</div>
			    <div class="select_players">{{ widget_players }}</div>
			    <div class="label_leagues">League(s)</div>
			    <div class="select_leagues">{{ widget_leagues }}</div>
			</div>

			{#	Game Filters	#}

			<div class="filter_games_selected_ex">
				<input type="checkbox" id="chk_games_ex" class="filter_games" oninput="only_one(this, '.filter_games')">
				<label for="chk_games_ex">exclusively for the <b>selected</b> games (above).</label>
		 	</div>

		  	<div class="filter_games_league_any">
				<input type="checkbox" id="chk_game_leagues_any" class="filter_games" oninput="only_one(this, '#chk_games_ex, #chk_game_leagues_all')">
				<label for="chk_game_leagues_any">for games played by <b>any</b> of the selected <b>leagues</b> (above)</label>
		  	</div>

		  	<div class="filter_games_league_all">
				<input type="checkbox" id="chk_game_leagues_all" class="filter_games" oninput="only_one(this, '#chk_games_ex, #chk_game_leagues_any')">
				<label for="chk_game_leagues_all">for games played by <b>all</b> of the selected <b>leagues</b> (above)</label>
		  	</div>

		  	<div class="filter_games_player_any">
				<input type="checkbox" id="chk_game_players_any" class="filter_games" oninput="only_one(this, '#chk_games_ex, #chk_game_players_all')">
				<label for="chk_game_players_any">for games played by <b>any</b> of the selected <b>players</b> (above)</label>
		  	</div>

		 	<div class="filter_games_player_all">
				<input type="checkbox" id="chk_game_players_all" class="filter_games" oninput="only_one(this, '#chk_games_ex, #chk_game_players_any')">
				<label for="chk_game_players_all">for games played by <b>all</b> of the selected <b>players</b> (above)</label>
		  	</div>

			<div class="filter_games_top_n">
				<input type="checkbox" id="chk_top_games" class="filter_games exclusive_group1" oninput="only_one(this, '#chk_games_ex, .exclusive_group1');">
				<label for="chk_top_games">for the
				<input type="number" id="num_games" min="0" class="Number" style="width: 5ch;" oninput="blank_zero(this); mirror(this,'#num_games_latest', '#chk_latest_games'); check_check(this, '#chk_top_games', '.exclusive_group1');">
				<b>most popular</b> games</label>
			</div>

			<div class="filter_games_latest_n">
				<input type="checkbox" id="chk_latest_games" class="filter_games exclusive_group1" oninput="only_one(this, '#chk_games_ex, .exclusive_group1');">
				<label for="chk_latest_games">for the
				<input type="number" id="num_games_latest" min="0" class="Number" style="width: 5ch;" oninput="blank_zero(this); mirror(this,'#num_games', '#chk_top_games'); check_check(this, '#chk_latest_games', '.exclusive_group1');">
				<b>last played </b> games</label>
			</div>

		  	<div class="filter_games_played_since">
				<input type="checkbox" id="chk_changed_since" class="filter_games exclusive_group1" oninput="only_one(this, '#chk_games_ex, .exclusive_group1')">
				<label for="chk_changed_since">that <b>changed on or after</b>: </label>
				<input class="DateTimeField" id="changed_since" type="text" onchange="check_check(this, '#chk_changed_since', '.exclusive_group1'); copy_if_empty(this,'#compare_back_to');">
		  	</div>

		  	<div class="filter_games_event">
				<input type="checkbox" id="chk_num_days" class="filter_games exclusive_group1" oninput="only_one(this, '#chk_games_ex, .exclusive_group1')" >
				<label for="chk_num_days" class="tooltip">for games played in the last gaming event of
					<input type="number" id="num_days" min="0" class="Number" style="width: 5ch" onchange="blank_zero(this); check_check(this, '#chk_num_days', '.exclusive_group1'); mirror(this,'#num_days_ev');"> days duration
					<span class="tooltiptext">The last gaming event ends with the latest game recorded that matches all other criteria, and includes games played at the same event as that game up to the specified number of days prior to it.</span>			 </label>
		  	</div>

			<div class="filter_games_selected_in">
				<input type="checkbox" id="chk_games_in" class="filter_games" oninput="only_one(this, '#chk_games_ex')">
				<label for="chk_games_in">for the <b>selected</b> games (above), in addition to any others.</label>
		 	</div>

			{#	Player Filters	#}

			<div class="filter_players_selected_ex">
				<input type="checkbox" id="chk_players_ex" class="filter_players" oninput="only_one(this, '.filter_players')">
				<label for="chk_players_ex">exclusively the <b>selected</b> players (above).</label>
		 	</div>

		  	<div class="filter_players_top">
				<input type="checkbox" id="chk_num_players_top" class="filter_players" oninput="only_one(this, '#chk_players_ex')">
				<input type="number" id="num_players_top" min="0" class="Number" style="width: 5ch;" oninput="blank_zero(this); check_check(this, '#chk_num_players_top', '#chk_players_ex');">
				<label for="chk_num_players_top">top players</label>
		  	</div>

		  	<div class="filter_players_above">
				<input type="checkbox" id="chk_num_players_above" class="filter_players" oninput="only_one(this, '#chk_players_ex')">
				<input type="number" id="num_players_above" min="0" class="Number" style="width: 5ch;" oninput="blank_zero(this); check_check(this, '#chk_num_players_above', '#chk_players_ex');">
				<label for="chk_num_players_above">players above each selected player (above)</label>
		  	</div>

		  	<div class="filter_players_below">
				<input type="checkbox" id="chk_num_players_below" class="filter_players" oninput="only_one(this, '#chk_players_ex')">
				<input type="number" id="num_players_below" min="0" class="Number" style="width: 5ch;" oninput="blank_zero(this); check_check(this, '#chk_num_players_below', '#chk_players_ex');">
				<label for="chk_num_players_below">players below each selected player (above)</label>
		  	</div>

		  	<div class="filter_players_min_playcount">
				<input type="checkbox" id="chk_min_plays" class="filter_players" oninput="only_one(this, '#chk_players_ex')">
				<label for="chk_min_plays">players who have <b>played the game at least</b>
				<input type="number" id="min_plays" min="0" class="Number" style="width: 5ch;" oninput="blank_zero(this); check_check(this, '#chk_min_plays', '#chk_players_ex');">
				<b>times</b></label>
		  	</div>

		  	<div class="filter_players_played_since">
				<input type="checkbox" id="chk_played_since" class="filter_players" oninput="only_one(this, '#chk_players_ex')">
				<label for="chk_played_since">players who have <b>played the game since</b> </label>
				<input class="DateTimeField" id="played_since" type="text" onchange="check_check(this, '#chk_played_since', '#chk_players_ex');">
		  	</div>

		  	<div class="filter_players_league_any">
				<input type="checkbox" id="chk_player_leagues_any" class="filter_players" oninput="only_one(this, '#chk_players_ex, #chk_player_leagues_all')">
				<label for="chk_player_leagues_any">players in <b>any</b> of the selected leagues (above)</label>
		  	</div>

		  	<div class="filter_players_league_all">
				<input type="checkbox" id="chk_player_leagues_all" class="filter_players" oninput="only_one(this, '#chk_players_ex, #chk_player_leagues_any')">
				<label for="chk_player_leagues_all">players in <b>all</b> of the selected leagues (above)</label>
		  	</div>

			<div class="filter_players_selected_in">
				<input type="checkbox" id="chk_players_in" class="filter_players" oninput="only_one(this, '#chk_players_ex')">
				<label for="chk_players_in">the <b>selected</b> players (above), in addition to any others.</label>
		 	</div>

			{#	Perspective option 	#}

			<div class="select_perspective">
				<label for="as_at">Show leaderboards as they were at:
				<input class="DateTimeField" id="as_at" type="text" > (i.e. historic snapshots)</label><br>
		  	</div>

			{#	Evolution options #}

			<div class="select_evolution">Compare each leaderboard with:</div>

		  	<div class="select_evolution_none">
				<input type="radio" name="evolution_selection" value="no_evolution" id="chk_no_evolution"  class="evolution_selection">
				<label for="chk_no_evolution">nothing</label>
		  	</div>

		  	<div class="select_evolution_n_prior">
				<input type="radio" name="evolution_selection" value="compare_with" id="chk_compare_with" class="evolution_selection">
				<input type="number" id="compare_with" min="0" class="Number" style="width: 5ch" oninput="blank_zero(this); check_radio(this, 'evolution_selection', 'compare_with', 'no_evolution');">
				<label for="chk_compare_with">prior leaderboards</label>
		  	</div>

		  	<div class="select_evolution_back_to">
				<input type="radio" name="evolution_selection" value="compare_back_to" id="chk_compare_back_to" class="evolution_selection">
				<label for="chk_compare_back_to">leaderboards back to:</label>
				<input class="DateTimeField" id="compare_back_to" type="text" onchange="check_radio(this, 'evolution_selection', 'compare_back_to', 'no_evolution');">
		  	</div>

		  	<div class="select_evolution_session">
				<input type="radio" name="evolution_selection" value="num_days_ev" id="chk_num_days_ev"  class="evolution_selection">
				<label for="chk_num_days_ev" class="tooltip">leaderboards back to the start of the last gaming event of
					<input type="number" id="num_days_ev" min="0" class="Number" style="width: 5ch" oninput="blank_zero(this); check_radio(this, 'evolution_selection', 'num_days_ev', 'no_evolution'); mirror(this,'#num_days');">
					days duration
					<span class="tooltiptext">The last gaming event ends with the latest game recorded that matches all other criteria, and includes games played at the same event as that game up to the specified number of days prior to it.</span>
				</label>
		  	</div>
		</section>

	    {% if debug or debug_mode %}
			<section class="lo_admin">
				<input type="checkbox" id="chk_ignore_cache"> Ignore the leaderboard cache (rebuild all leaderboards)
			</section>
	    {% endif %}
	</section>
{% endblock %}

{% block content %}
	{#	PAGE HEADER #}
	<h3><span id='lblTotalCount'></span> <span id='lblSnapCount'></span>
		<div id="legend_display_button_tooltip_wrapper" class="tooltip" style="display: inline;">
			<a onclick="toggle_visibility('legend', 'table-row', 'legend_display_button');">
			<span id="legend_display_button" class="tooltip" style="display: inline;"/> {# This span must be emtpy. It's contents are written via JS. #}
			<span class="tooltiptext_right" style="font-size: 80%; white-space: nowrap;">Display/hide the legend.</span>
		</div>
	</a></h3>

	{# THE LEADERBOARDS! - Placeholder filled by Javascript rendered of the template or ajax provided data #}

	<table id='tblLB'></table>
{% endblock %}

{% block startscript %}
<script src="{% static 'js/copy_with_style.js' %}"></script>
<script>

	let preferred_league = {{ preferred_league|safe }};

	// Nab the options and their defaults from context
	let options = {{ options|safe }};
	let defaults = {{ defaults|safe }};

	// The big one! Leaderboards. This is a structure of lists within lists
	// Games, Snapshots and Players in that order.
	//
	// see view_Leaderboards for specs and generation of what is delivered, but here is
	// the expectation:
	// A list of lists which have four values: Game PK, Game BGGid, Game name, Snapshots
	// Snapshots is a list of lists which have four values: Date time string, count of plays, count of sessions, Leaderboard
	// Leaderboard is a list of lists which have six values: Player PK, Player BGGid, Player name, Trueskill rating, Play count, Victory count
	//
	// So lists within lists within a list. This is what we're here to present.
	//
	// As a side note, the standard view has one snapshot, the current ratings, and leaderboards pr at some other specified time (as_at)
	// Extra snapshots are expected when asked for (for comparisons with history and evolutionary examinations), one
	// extra snapshot per compare_with (a number specifying how many) or a variable number if compare_back_to is specified,
	// up to and including the snapshot at as_at or now if as_at isn't specified.

	let leaderboards = {{leaderboards|safe}};

	// We can't access template variables in the included static javascript so here is
	// where we nab what we need for the Javascript and stow in javascript variables that
	// the code in the included .js file can see.

	// Note the initial value of various controls on the view
	let value_date_format = "{{default_datetime_input_format}}";

	// And some URLs
	let url_leaderboards = "{% url 'leaderboards' %}";
	let url_json_leaderboards = "{% url 'json_leaderboards' %}"

	let url_view_Game = "{% url 'view' 'Game' '00' %}";			// 00 is replaced by PK in the JavaScript code
	let url_view_Player = "{% url 'view' 'Player' '00' %}"; 	// 00 is replaced by PK in the JavaScript code
	let url_view_Team = "{% url 'view' 'Team' '00' %}"; 		// 00 is replaced by PK in the JavaScript code
	let url_view_Session = "{% url 'view' 'Session' '00' %}"; 	// 00 is replaced by PK in the JavaScript code
	let url_list_Sessions = "{% url 'list' 'Session'%}";

	// A URL for the Select2 widgets (initilising them is a little involved)
	let url_selector = "{% url 'autocomplete_flexible' '__MODEL__' 'pk' 'in' %}"
</script>
{% endblock %}

{% block endscript %}
<script src="{% static 'js/URIencoders.js' %}"></script>
<script src="{% static 'js/DALinit.js' %}"></script>
<script src="{% static 'js/regex.js' %}"></script>
<script src="{% static 'js/leaderboard.js' %}"></script>
<script src="{% static 'js/view_leaderboards.js' %}"></script>
{% endblock %}


