{% extends "base.html" %}
{% comment %}
==================================================================================
A page that offers a view on player statistics.


A sortable list/table of players on which we can show:

NickName
Number of (implicit) events they have attended
Number of game leaderboards they are on
Number of boards they are topping
Number of boards they are in the top N
Number of game sessions they have recorded
First recorded session time
Last recorded session time
Session/unit_time (how often they played)
Last game they played
Game they've played most of (most recent as tie breaker)
Mean sessions per game (repeat play measure)
Largest game played (player count)
Smallest game played (player count)
Median session size (player count)

We will need configs for:

top N - a number box (default 10)
Event attendance - a defintion of implicit events, and so the whole events options
					as an expandable box, defaulting to all the league events.

Perhaps a histogram of number of events attended (X), Number of players (Y)
	Just because we can.
Another

==================================================================================
{% endcomment %}

{% load static %}
{% load filters %}
{% load tags %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/monthly_day_week_widget.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/copy_with_style.css' %}" />
{% endblock %}

{#======================#}
{#		A SUB MENU		#}
{#======================#}

{% block submenu %}
{% endblock %}

{#======================#}
{#		CONTENT			#}
{#======================#}

{% block content %}
	<section id="Players">
	{% include "include/players_table.html" %}
	</section>
{% endblock %}

{#======================#}
{#		SCRIPTS			#}
{#======================#}

{% block startscript %}
{% endblock %}

{% block endscript %}
<script src="{% static 'js/table_sorter.js' %}"></script>
{% if settings.month_days %}
<script>
	InitDays("{{ settings.month_days }}");
</script>
{% endif %}
<script>document.addEventListener('DOMContentLoaded', TableSorter('players'));</script>
{% endblock %}
