@charset "utf-8";
/* CSS Document */

/* LEADERBOARD OPTIONS */


/*
	TODO: Show only the button row by default, with a drop arrow.
	That reveals the basic options, and an Advanced options drop arrow,
	which would reveal the advanced options. Thiswill take some redesign
	of the grid.
*/

/* Example of using color variables
:root {
  --background-color: AliceBlue;
}
background-color: var(--background-color);
*/

:root {
	--leaderboard_normal: rgb(255, 247, 240);
	--leaderboard_change: rgb(255, 224, 224);
	--leaderboard_select: rgb(255, 249, 186);
	--leaderboard_select_change: rgb(255, 255, 176);
}


.leaderboard_options {
	display: grid;
	grid-template-columns: min-content min-content 1fr;
	grid-auto-rows: min-content;
	grid-column-gap: 15px;
	grid-row-gap: 5px;
	grid-template-areas:
	  	"lbl_view   lo_buttons    lo_buttons    "
	  	".          lbl_basic     lo_basic      "
	  	".          lbl_advanced  lo_visibility "
	  	".          lo_advanced   lo_advanced   "
	  	".          lo_admin      lo_admin      "
}

.lo_buttons {
	grid-area: lo_buttons;
	display: grid;
	grid-template-columns: min-content min-content max-content  1fr;
	grid-auto-rows: min-content;
	grid-column-gap: 5px;
	grid-template-areas: "lo_reload lo_reload_icon lo_shortcuts lo_utils";
}

.lo_reload      { grid-area: lo_reload; }
.lo_reload_icon { grid-area: lo_reload_icon;  }
.lo_shortcuts   { grid-area: lo_shortcuts; }
.lo_utils       { grid-area: lo_utils; }
.lo_space       { grid-area: lo_space; }

.lo_basic       { grid-area: lo_basic; }

.lbl_view       { grid-area: lbl_view; 	   font-weight: bold !important; }
.lbl_basic      { grid-area: lbl_basic;    font-weight: bold !important; }
.lbl_advanced   { grid-area: lbl_advanced; font-weight: bold !important; white-space: nowrap !important;}

.lo_visibility {
  	display: grid;
	grid-area: lo_visibility;

	grid-template-columns: repeat(3, auto);
	grid-auto-rows: min-content;
	grid-column-gap: 10px;
	grid-row-gap: 0px;
	grid-template-areas:
		"lo_highlight_players  lo_highlight_changes        lo_highlight__selected"
		"lo_show_d_rank        lo_show_d_rating            lo_show_baseline"
		"lo_session_details    lo_pre_predictions          lo_post_predictions"
		"lo_performances       lo_select_players           lo_show_cross_league_snaps";
}

.lo_highlight_players		{ grid-area: lo_highlight_players; }
.lo_highlight_changes		{ grid-area: lo_highlight_changes; }
.lo_highlight__selected		{ grid-area: lo_highlight__selected; }
.lo_session_details			{ grid-area: lo_session_details; }
.lo_pre_predictions			{ grid-area: lo_pre_predictions; }
.lo_post_predictions		{ grid-area: lo_post_predictions; }
.lo_performances			{ grid-area: lo_performances; }
.lo_show_d_rank				{ grid-area: lo_show_d_rank; }
.lo_show_d_rating			{ grid-area: lo_show_d_rating; }
.lo_show_baseline			{ grid-area: lo_show_baseline; }
.lo_select_players			{ grid-area: lo_select_players; }
.lo_show_cross_league_snaps	{ grid-area: lo_show_cross_league_snaps; }

.lo_advanced {
  	display: none; /* toggled to grid when displayed */
	grid-area: lo_advanced;

	grid-template-columns: auto 4ch repeat(3, auto);
	grid-column-gap: 15px;

	grid-auto-rows: min-content;
	grid-row-gap: 5px;

/* TODO: A location filter, a tourneys filter */
/* TODO: Add a Player selector which highlights "players in current snapshot" and one "players in any snapshot" */

	grid-template-areas:
		"label_filtering   selectors_multi         selectors_multi              selectors_multi              selectors_multi"
		"label_filtering   filter_games            filter_games                 filter_games                 filter_games"
		"label_filtering   intro_games             intro_games                  intro_games                  intro_games"
		"label_filtering   .                       filter_games_selected_ex     filter_games_selected_ex     filter_games_selected_ex"
		"label_filtering   .                       filter_games_league_any      filter_games_league_any      filter_games_league_any"
		"label_filtering   .                       filter_games_league_all      filter_games_league_all      filter_games_league_all"
		"label_filtering   .                       filter_games_player_any      filter_games_player_any      filter_games_player_any"
		"label_filtering   .                       filter_games_player_all      filter_games_player_all      filter_games_player_all"
		"label_filtering   .                       filter_games_top_n           filter_games_top_n           filter_games_top_n"
		"label_filtering   .                       filter_games_latest_n        filter_games_latest_n        filter_games_latest_n"
		"label_filtering   .                       filter_games_played_since    filter_games_played_since    filter_games_played_since"
		"label_filtering   .                       filter_games_event         	filter_games_event         	 filter_games_event"
		"label_filtering   .                       filter_games_selected_in     filter_games_selected_in     filter_games_selected_in"
		"label_filtering   filter_players          filter_players               filter_players               filter_players"
		"label_filtering   intro_players           intro_players                intro_players                intro_players"
		"label_filtering   .                       filter_players_selected_ex   filter_players_selected_ex   filter_players_selected_ex"
		"label_filtering   .                       filter_players_top           filter_players_top           filter_players_top"
		"label_filtering   .                       filter_players_above         filter_players_above         filter_players_above"
		"label_filtering   .                       filter_players_below         filter_players_below         filter_players_below"
		"label_filtering   .                       filter_players_min_playcount filter_players_min_playcount filter_players_min_playcount"
		"label_filtering   .                       filter_players_played_since  filter_players_played_since  filter_players_played_since"
		"label_filtering   .                       filter_players_league_any    filter_players_league_any    filter_players_league_any"
		"label_filtering   .                       filter_players_league_all    filter_players_league_all    filter_players_league_all"
		"label_filtering   .                       filter_players_selected_in   filter_players_selected_in   filter_players_selected_in"
		"label_perspective select_perspective      select_perspective           select_perspective           select_perspective"
		"label_evolution   select_evolution        select_evolution             select_evolution             select_evolution"
		"label_evolution   .                       select_evolution_none        select_evolution_none        select_evolution_none"
		"label_evolution   .                       select_evolution_n_prior     select_evolution_n_prior     select_evolution_n_prior"
		"label_evolution   .                       select_evolution_back_to     select_evolution_back_to     select_evolution_back_to"
		"label_evolution   .                       select_evolution_session     select_evolution_session     select_evolution_session"
		"button_apply      button_apply            .                            .                            ."
}

.lo_admin {	grid-area: lo_admin; }

.selectors_multi {
  display: grid;
  grid-area: selectors_multi;

  grid-template-columns: repeat(2, auto);
  grid-auto-rows: min-content;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  grid-template-areas:
  	"label_games        ."
  	"select_games       ."
  	"label_players      label_leagues     "
  	"select_players     select_leagues    ";
}

.label_filtering { grid-area: label_filtering; font-weight: bold !important; }

.filter_games { grid-area: filter_games; font-weight: bold !important; }
.intro_games { grid-area: intro_games; margin-left: 2ch;}
.filter_players { grid-area: filter_players; font-weight: bold !important; }
.intro_players { grid-area: intro_players; margin-left: 2ch;}
.label_perspective { grid-area: label_perspective; font-weight: bold !important; }
.label_evolution { grid-area: label_evolution; font-weight: bold !important; }

.label_leagues { grid-area: label_leagues; }
.select_leagues { grid-area: select_leagues; }

.label_games { grid-area: label_games; }
.select_games { grid-area: select_games; }

.label_players { grid-area: label_players; }
.select_players { grid-area: select_players; }

.filter_games_selected_ex { grid-area: filter_games_selected_ex; }
.filter_games_selected_in { grid-area: filter_games_selected_in; }
.filter_games_top_n { grid-area: filter_games_top_n; }
.filter_games_latest_n { grid-area: filter_games_latest_n; }
.filter_games_played_since { grid-area: filter_games_played_since; }
.filter_games_league_any { grid-area: filter_games_league_any; }
.filter_games_league_all { grid-area: filter_games_league_all; }
.filter_games_player_any { grid-area: filter_games_player_any; }
.filter_games_player_all { grid-area: filter_games_player_all; }
.filter_games_event { grid-area: filter_games_event; }

.filter_players_selected_ex { grid-area: filter_players_selected_ex; }
.filter_players_selected_in { grid-area: filter_players_selected_in; }
.filter_players_top { grid-area: filter_players_top; }
.filter_players_above { grid-area: filter_players_above; }
.filter_players_below { grid-area: filter_players_below; }
.filter_players_min_playcount { grid-area: filter_players_min_playcount; }
.filter_players_played_since { grid-area: filter_players_played_since; }
.filter_players_league_any { grid-area: filter_players_league_any; }
.filter_players_league_all { grid-area: filter_players_league_all; }

.select_perspective { grid-area: select_perspective; }

.select_evolution  { grid-area: select_evolution; }
.select_evolution_none { grid-area: select_evolution_none; }
.select_evolution_n_prior { grid-area: select_evolution_n_prior; }
.select_evolution_back_to { grid-area: select_evolution_back_to; }
.select_evolution_session { grid-area: select_evolution_session; }

.button_apply { grid-area: button_apply; }

/* LEADERBOARD TABLES */

table.legend
{
	font-size: 80%;
}

tr.legend {
  	display: none; /* toggled to when displayed */
}

table.leaderboard
{
	margin-right: 10px;
	border-color: #600;
	border-style: solid;
	border-width: 0 0 1px 1px;  /* top, right, bottom, left */
	border-collapse: collapse;
	border-spacing: 10px;
}

table.reference
{
	filter: opacity(55%);
}

table.baseline
{
	filter: opacity(40%);
}

th.leaderboard,
td.leaderboard
{
	border-color: #600;
	border-style: solid;
	margin: 0;
	padding: 4px;
	border-width: 1px 1px 0 0;
	white-space: nowrap;
}

/* A great color designer: https://colordesigner.io/color-mixer/?mode=rgb */

th.leaderboard.header { background-color: var(--leaderboard_normal); font-weight: bold; font-size: 120%; }

th.leaderboard.normal,
td.leaderboard.normal {	background-color: var(--leaderboard_normal);	font-weight: normal; }

td.leaderboard.highlight_players_off {	font-weight: normal; }
td.leaderboard.highlight_players_on { font-weight: bold !important; }

td.leaderboard.highlight_changes_off { background-color: var(--leaderboard_normal); }
td.leaderboard.highlight_changes_on { background-color: var(--leaderboard_change) !important; }

td.leaderboard.highlight_selected_off { background-color: var(--leaderboard_normal); }
td.leaderboard.highlight_selected_on {background-color: var(--leaderboard_select) !important; }

td.leaderboard.highlight_changes_on.highlight_selected_on { background-color: var(--leaderboard_select_change) !important; }

table.leaderboard.wrapper { border-style: none; margin: 10px; }

table.leaderboard.wrapper > tbody > tr > td
{
	vertical-align: top;
	background-color: transparent;
	border-style: none;
	padding-left: 0;
	padding-right: 15px;
	padding-top: 0;
	padding-bottom: 15px;
}