/* ToolTip support */

:root {
  --tool_tip_delay: 1.5s;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* ===========================*/
/* The default ABOVE positioned implementation */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
  
    white-space: normal;
    text-align: center;
    border-radius: 6px;
    padding: 10px;

    position: absolute;
    z-index: 1000;
  
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
}

/* This draws the little triangle under the tooltip  */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
	transition-delay: var(--tool_tip_delay);
}

/* ===========================*/
/* A LEFT positioned variant */
.tooltip .tooltiptext_left {
    visibility: hidden;
    background-color: #555;
    color: #fff;
  
    white-space: normal;
    text-align: center;
    border-radius: 6px;
    padding: 10px;

    position: absolute;
    z-index: 1000;
  
    top:-60%;
    right:140%;
}

/* This draws the little triangle under the tooltip  */
.tooltip .tooltiptext_left::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.tooltip:hover .tooltiptext_left {
    visibility: visible;
    opacity: 1;
	transition-delay: var(--tool_tip_delay);
}

/* ===========================*/
/* A RIGHT positioned variant */
.tooltip .tooltiptext_right {
    visibility: hidden;
    background-color: #555;
    color: #fff;
  
    white-space: normal;
    text-align: center;
    border-radius: 6px;
    padding: 10px;

    position: absolute;
    z-index: 1000;
  
    top:-60%;
    left:140%;
}

/* This draws the little triangle under the tooltip  */
.tooltip .tooltiptext_right::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptext_right {
    visibility: visible;
    opacity: 1;
	transition-delay: var(--tool_tip_delay);
}