# Needed for any Django site for security. 
DJANGO_SECRET_KEY="Generate here: https://djecrety.ir/"

DB_USER="Database user for the live database"
DB_PASSWORD="Password for that user"

TEST_DB_USER="Database user for the test database"
TEST_DB_PASSWORD="Password for that user"

# For the future when MAPBOX is implemented on hte site
MAPBOX_KEY="Create and account and get a key: https://docs.mapbox.com/help/dive-deeper/access-tokens/"
