# Needed for any Django site for security. 
DJANGO_SECRET_KEY="Generate here: https://djecrety.ir/"

# For the future when MAPBOX is implemented on hte site
MAPBOX_KEY="Create and account and get a key: https://docs.mapbox.com/help/dive-deeper/access-tokens/"
