# Needed for any Django site for security. 
DJANGO_SECRET_KEY="Generate here: https://djecrety.ir/"

DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="CoGs"
DB_USER="CoGs"
DB_PASSWORD="Password for DB_USER"

TEST_DB_HOST="localhost"
TEST_DB_PORT="5432"
TEST_DB_NAME="test_CoGs"
TEST_DB_USER="test_CoGs"
TEST_DB_PASSWORD="Password for TEST_DB_USER"

# For the future when MAPBOX is implemented on hte site
MAPBOX_KEY="Create and account and get a key: https://docs.mapbox.com/help/dive-deeper/access-tokens/"
