@charset "utf-8";
/* CSS Document */

/*.leaderboard_options * {  */
/* 	border: 1px solid red; */
/* }	 */
	
.leaderboard_options {
	display: grid;
	grid-template-columns: min-content min-content 1fr;
	grid-auto-rows: min-content;
	grid-column-gap: 15px;
	grid-row-gap: 5px;  
	grid-template-areas:
	  	"lbl_view   lo_buttons    lo_buttons"
	  	".          lbl_basic     lo_basic"
	  	".          lbl_advanced  lo_visibility"
	  	".          lo_advanced   lo_advanced"
}

.lbl_view     { grid-area: lbl_view; 	 font-weight: bold !important; }
.lbl_basic    { grid-area: lbl_basic; 	 font-weight: bold !important; }
.lbl_advanced { grid-area: lbl_advanced; font-weight: bold !important; white-space: nowrap !important;}

.lo_buttons { grid-area: lo_buttons; }
.lo_basic   { grid-area: lo_basic; }

.lo_visibiity {
  	display: grid;
	grid-area: lo_visibility;
  
	grid-template-columns: repeat(3, auto);
	grid-auto-rows: min-content;
	grid-column-gap: 10px;
	grid-row-gap: 0px;  
	grid-template-areas: 
		"lo_highlight_players  lo_highlight_changes  lo_highlight__selected" 
		"lo_session_details    lo_pre_predictions    lo_post_predictions";
}

.lo_highlight_players   { grid-area: lo_highlight_players; }
.lo_highlight_changes   { grid-area: lo_highlight_changes; }
.lo_highlight__selected { grid-area: lo_highlight__selected; }
.lo_session_details     { grid-area: lo_session_details; }
.lo_pre_predictions     { grid-area: lo_pre_predictions; }
.lo_post_predictions    { grid-area: lo_post_predictions; }

.lo_advanced {
  	display: none; /* toggled to grid when displayed */
	grid-area: lo_advanced;
  
	grid-template-columns: auto 4ch repeat(3, auto);
	grid-column-gap: 15px;

	grid-auto-rows: min-content;
	grid-row-gap: 5px;  

	grid-template-areas:
		"label_formatting  select_name_format      select_name_format           select_name_format           select_name_format"
		"label_filtering   selectors_multi         selectors_multi              selectors_multi              selectors_multi"
		"label_filtering   filter_games            filter_games                 filter_games                 filter_games"
		"label_filtering   intro_games             intro_games                  intro_games                  intro_games"
		"label_filtering   .                       filter_games_selected        filter_games_selected        filter_games_selected"
		"label_filtering   .                       filter_games_top_n           filter_games_top_n           filter_games_top_n"
		"label_filtering   .                       filter_games_league_any      filter_games_league_any      filter_games_league_any"
		"label_filtering   .                       filter_games_league_all      filter_games_league_all      filter_games_league_all"
		"label_filtering   .                       filter_games_player_any      filter_games_player_any      filter_games_player_any"
		"label_filtering   .                       filter_games_player_all      filter_games_player_all      filter_games_player_all"
		"label_filtering   .                       filter_games_played_since    filter_games_played_since    filter_games_played_since"
		"label_filtering   .                       filter_games_session         filter_games_session         filter_games_session"
		"label_filtering   filter_players          filter_players               filter_players               filter_players"
		"label_filtering   intro_players           intro_players                intro_players                intro_players"
		"label_filtering   .                       filter_players_selected      filter_players_selected      filter_players_selected"
		"label_filtering   .                       filter_players_top           filter_players_top           filter_players_top"
		"label_filtering   .                       filter_players_above         filter_players_above         filter_players_above"
		"label_filtering   .                       filter_players_below         filter_players_below         filter_players_below"
		"label_filtering   .                       filter_players_min_playcount filter_players_min_playcount filter_players_min_playcount"
		"label_filtering   .                       filter_players_played_since  filter_players_played_since  filter_players_played_since"
		"label_filtering   .                       filter_players_league_any    filter_players_league_any    filter_players_league_any"
		"label_filtering   .                       filter_players_league_all    filter_players_league_all    filter_players_league_all"
		"label_perspective select_perspective      select_perspective           select_perspective           select_perspective"
		"label_evolution   select_evolution        select_evolution             select_evolution             select_evolution"
		"label_evolution   .                       select_evolution_none        select_evolution_none        select_evolution_none"
		"label_evolution   .                       select_evolution_n_prior     select_evolution_n_prior     select_evolution_n_prior"
		"label_evolution   .                       select_evolution_back_to     select_evolution_back_to     select_evolution_back_to"
		"label_evolution   .                       select_evolution_session     select_evolution_session     select_evolution_session"
		"button_copy       label_copy              label_copy                   label_copy                   label_copy"
		"button_url        label_url               label_url                    label_url                    label_url";  
}


.selectors_multi {
  display: grid;
  grid-area: selectors_multi;
  
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: min-content;
  grid-column-gap: 10px;
  grid-row-gap: 0px;  
  grid-template-areas: 
  	"label_games  label_leagues  label_players" 
  	"select_games select_leagues select_players";
}

.label_filtering { grid-area: label_filtering; font-weight: bold !important; }
.label_formatting { grid-area: label_formatting; font-weight: bold !important; }
.filter_games { grid-area: filter_games; font-weight: bold !important; }
.intro_games { grid-area: intro_games; margin-left: 2ch;}
.filter_players { grid-area: filter_players; font-weight: bold !important; }
.intro_players { grid-area: intro_players; margin-left: 2ch;}
.label_perspective { grid-area: label_perspective; font-weight: bold !important; }
.label_evolution { grid-area: label_evolution; font-weight: bold !important; }

.select_name_format { grid-area: select_name_format; }

.label_leagues { grid-area: label_leagues; }
.select_leagues { grid-area: select_leagues; }

.label_games { grid-area: label_games; }
.select_games { grid-area: select_games; }

.label_players { grid-area: label_players; }
.select_players { grid-area: select_players; }

.filter_games_selected { grid-area: filter_games_selected; }
.filter_games_top_n { grid-area: filter_games_top_n; }
.filter_games_played_since { grid-area: filter_games_played_since; }
.filter_games_league_any { grid-area: filter_games_league_any; }
.filter_games_league_all { grid-area: filter_games_league_all; }
.filter_games_player_any { grid-area: filter_games_player_any; }
.filter_games_player_all { grid-area: filter_games_player_all; }
.filter_games_session { grid-area: filter_games_session; }

.filter_players_selected { grid-area: filter_players_selected; }
.filter_players_top { grid-area: filter_players_top; }
.filter_players_above { grid-area: filter_players_above; }
.filter_players_below { grid-area: filter_players_below; }
.filter_players_min_playcount { grid-area: filter_players_min_playcount; }
.filter_players_played_since { grid-area: filter_players_played_since; }
.filter_players_league_any { grid-area: filter_players_league_any; }
.filter_players_league_all { grid-area: filter_players_league_all; }

.select_perspective { grid-area: select_perspective; }

.select_evolution  { grid-area: select_evolution; }
.select_evolution_none { grid-area: select_evolution_none; }
.select_evolution_n_prior { grid-area: select_evolution_n_prior; }
.select_evolution_back_to { grid-area: select_evolution_back_to; }
.select_evolution_session { grid-area: select_evolution_session; }

.button_copy { grid-area: button_copy; }
.label_copy { grid-area: label_copy; }

.button_url { grid-area: button_url; }
.label_url { grid-area: label_url; }
