<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	{% load tz %}	
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'CoGs/css/default.css' %}" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<meta name="robots" content="NONE,NOARCHIVE" />
	<meta charset="UTF-8" />
	<script>
		function check_for_leagues() {
			if ("{{league_options|escapejs}}"=="") 
				document.getElementById("league_selector").style.display = 'none';
		}
	</script>
	{% block startscript %}{% endblock %}	
</head>

<body class="body"  onload="check_for_leagues()">
	<!-- Container -->
	<div id="container">
	
	    <!-- Header -->
	    <div id="header">
	        {% block branding %}
	        <div id="branding">
	        	<a href="{% static 'logo.png' %}"><img src="{% static 'logo.png' %}" align=left height=70></a>
				<h1 id="site-name"><a href="/">CoGs Leaderboard Space</a></h1>
	        </div>
	        {% endblock %}
	        
	        {% block menu %}
	        <div id="menu-line" style="display: flex;">
		        <div id="menu" style="float: left;">
					{% if user.is_authenticated %}	        
		        		[ <a href="/admin">Admin</a> ]
					{% endif %}
						        	
		        	[ <a href="{% url 'leaderboards' %}">Leaderboards</a> ]
		        	
		        	[ <a href="{% url 'list' 'League' %}">Leagues</a> |
		        	<a href="{% url 'list' 'Game' %}">Games</a> |
		        	<a href="{% url 'list' 'Player' %}">Players</a> |
		        	<a href="{% url 'list' 'Location' %}">Locations</a> |
		        	<a href="{% url 'list' 'Session' %}">Sessions</a>]
	
					{% if user.is_authenticated %}
			        	[<a href="{% url 'list' 'Team' %}">Teams</a> |
			        	 <a href="{% url 'list' 'Rank' %}">Ranks</a> |
			        	 <a href="{% url 'list' 'Performance' %}">Performances</a> |
			        	 <a href="{% url 'list' 'Rating' %}">Ratings</a> ]
					{% endif %}
		        </div>
{#		        TODO: This league selecter needs to be set:#}
{#		          1) When logging in, set it to the default league of the logged in user.#}
{#						- for this we need to give each logged in user a default league.#}
{#		          2) When viewing a session, set it to the league of the session that was loaded.#}
		        <div id="league_selector" style="margin: 0 auto;">League:
					<select name="league_view" class="ModelChoiceField" required="" id="id_league_view">
						{{league_options|safe}}
					</select>				
		        </div>
		        <div id="login" style="float: right; margin-right:50px;">
					{% if user.is_authenticated %}
			        	[ Logged in as: {{ user.player }} | <a href="{% url 'logout' %}?next={{request.path}}"">Logout</a> | 
					{% else %}
			        	[ <a href="{% url 'login' %}?next={{request.path}}">Login</a> |
					{% endif %}
						        
					<a href="{% url 'about' %}">About</a> ]
		        </div>
	        </div>
	        {% endblock %}
	
	        {% block usertools %}
		        {% if has_permission %}
		        <div id="user-tools">
		            {% block welcome-msg %}
		                Welcome,
		                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
		            {% endblock %}
		            {% block userlinks %}
		                {% if site_url %}
		                    <a href="{{ site_url }}">View site</a> /
		                {% endif %}
		                {% if user.is_active and user.is_staff %}
		                    {% url 'django-admindocs-docroot' as docsroot %}
		                    {% if docsroot %}
		                        <a href="{{ docsroot }}">Documentation</a> /
		                    {% endif %}
		                {% endif %}
		                {% if user.has_usable_password %}
		                	<a href="{% url 'admin:password_change' %}">Change password</a> /
		                {% endif %}
		                <a href="{% url 'admin:logout' %}">Log out</a>
		            {% endblock %}
		        </div>
		        {% endif %}
	        {% endblock %}
	    </div>
	    <!-- END Header -->
	
	    {% block messages %}
	        {% if messages %}
	        <ul class="messagelist">
	        	{% for message in messages %}
	          		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
	        	{% endfor %}
	        </ul>
	        {% endif %}
	    {% endblock messages %}
	
	    <!-- Content -->
	    <div id="content" class="content">
	        {% block content_title %}<h1><div id='title'>{% autoescape off %}{{ title }}{% endautoescape %}</div></h1>{% endblock %}
	        {% block content_subtitle %}<h2><div id='subtitle'>{% autoescape off %}{{ subtitle }}{% endautoescape %}<div></h2>{% endblock %}
	        {% block content %}{% endblock %}
	        {% block sidebar %}{% endblock %}
	        <br class="clear" />
	    </div>
	    <!-- END Content -->
	
	    {% block footer %}
	    
	    {% if True %}
		<script src="{% static 'CoGs/js/jstz.min.js'%}"></script>
		<script>
			 function minsToHHMMSS (mins) {
			    let hours   = Math.floor(Math.abs(mins) / 60);
			    let minutes = Math.floor((Math.abs(mins) - ((hours * 3600)) / 60));
			    let seconds = Math.floor((Math.abs(mins) * 60) - (hours * 3600) - (minutes * 60));
			    let sign = mins<0 ? "-" : "";
			
			    // Prepend 0 when unit is less than 10
			    if (hours   < 10) {hours   = "0"+hours;}
			    if (minutes < 10) {minutes = "0"+minutes;}
			    if (seconds < 10) {seconds = "0"+seconds;}
			    return sign+hours+':'+minutes+':'+seconds;
			}
			
			/* Port of strftime(). Compatibility notes:
			 *
			 * %c - formatted string is slightly different
			 * %D - not implemented (use "%m/%d/%y" or "%d/%m/%y")
			 * %e - space is not added
			 * %E - not implemented
			 * %h - not implemented (use "%b")
			 * %k - space is not added
			 * %n - not implemented (use "\n")
			 * %O - not implemented
			 * %r - not implemented (use "%I:%M:%S %p")
			 * %R - not implemented (use "%H:%M")
			 * %t - not implemented (use "\t")
			 * %T - not implemented (use "%H:%M:%S")
			 * %U - not implemented
			 * %W - not implemented
			 * %+ - not implemented
			 * %% - not implemented (use "%")
			 *
			 * strftime() reference:
			 * http://man7.org/linux/man-pages/man3/strftime.3.html
			 *
			 * Day of year (%j) code based on Joe Orost's answer:
			 * http://stackoverflow.com/questions/8619879/javascript-calculate-the-day-of-the-year-1-366
			 *
			 * Week number (%V) code based on Taco van den Broek's prototype:
			 * http://techblog.procurios.nl/k/news/view/33796/14863/calculate-iso-8601-week-and-year-in-javascript.html
			 */
			function strftime(sFormat, date) {
			  if (!(date instanceof Date)) date = new Date();
			  var nDay = date.getDay(),
			    nDate = date.getDate(),
			    nMonth = date.getMonth(),
			    nYear = date.getFullYear(),
			    nHour = date.getHours(),
			    aDays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
			    aMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
			    aDayCount = [0, 31, 59, 90, 120, 151, 181, 212, 243, 273, 304, 334],
			    isLeapYear = function() {
			      return (nYear%4===0 && nYear%100!==0) || nYear%400===0;
			    },
			    getThursday = function() {
			      var target = new Date(date);
			      target.setDate(nDate - ((nDay+6)%7) + 3);
			      return target;
			    },
			    zeroPad = function(nNum, nPad) {
			      return ('' + (Math.pow(10, nPad) + nNum)).slice(1);
			    };
			  return sFormat.replace(/%[a-z]/gi, function(sMatch) {
			    return {
			      '%a': aDays[nDay].slice(0,3),
			      '%A': aDays[nDay],
			      '%b': aMonths[nMonth].slice(0,3),
			      '%B': aMonths[nMonth],
			      '%c': date.toUTCString(),
			      '%C': Math.floor(nYear/100),
			      '%d': zeroPad(nDate, 2),
			      '%e': nDate,
			      '%F': date.toISOString().slice(0,10),
			      '%G': getThursday().getFullYear(),
			      '%g': ('' + getThursday().getFullYear()).slice(2),
			      '%H': zeroPad(nHour, 2),
			      '%I': zeroPad((nHour+11)%12 + 1, 2),
			      '%j': zeroPad(aDayCount[nMonth] + nDate + ((nMonth>1 && isLeapYear()) ? 1 : 0), 3),
			      '%k': '' + nHour,
			      '%l': (nHour+11)%12 + 1,
			      '%m': zeroPad(nMonth + 1, 2),
			      '%M': zeroPad(date.getMinutes(), 2),
			      '%p': (nHour<12) ? 'AM' : 'PM',
			      '%P': (nHour<12) ? 'am' : 'pm',
			      '%s': Math.round(date.getTime()/1000),
			      '%S': zeroPad(date.getSeconds(), 2),
			      '%u': nDay || 7,
			      '%V': (function() {
			              var target = getThursday(),
			                n1stThu = target.valueOf();
			              target.setMonth(0, 1);
			              var nJan1 = target.getDay();
			              if (nJan1!==4) target.setMonth(0, 1 + ((4-nJan1)+7)%7);
			              return zeroPad(1 + Math.ceil((n1stThu-target)/604800000), 2);
			            })(),
			      '%w': '' + nDay,
			      '%x': date.toLocaleDateString(),
			      '%X': date.toLocaleTimeString(),
			      '%y': ('' + nYear).slice(2),
			      '%Y': nYear,
			      '%z': date.toTimeString().replace(/.+GMT([+-]\d+).+/, '$1'),
			      '%Z': date.toTimeString().replace(/.+\((.+?)\)$/, '$1')
			    }[sMatch] || sMatch;
			  });
			}	
		
			const debug_tz = jstz.determine();
			const debug_offset = minsToHHMMSS(-1 * (new Date().getTimezoneOffset()));
			const debug_today = new Date();
			const debug_date_time = strftime('%Y-%m-%d %H:%M:%S', debug_today);			
	    </script>
	    
	    <div id="times">				    	    
			<table><tr>
	            <th rowspan = 10><b>TIMES:</b></th>
				<th>Context</th>
				<th>Timezone</th>
				<th>UTC Offset</th>
				<th>Time</th>
            </tr><tr>
	            <td nowrap>Javascript</td>
	            <td nowrap><script>document.write(debug_tz.name());</script></td>
	            <td nowrap><script>document.write(debug_offset);</script></td>
	            <td nowrap><script>document.write(debug_date_time);</script></td>           
            </tr><tr>
	            <td nowrap>Django Naive</td>
	            <td nowrap>{{naive_timezone}}</td>
	            <td nowrap>{{naive_utcoffset}}</td>
	            <td nowrap>{{naive_datetime}}</td>
            </tr><tr>
	            <td nowrap>Session Store</td>
	            <td nowrap>{{session_timezone}}</td>
	            <td nowrap>{{session_utcoffset}}</td>
	            <td nowrap>{{session_datetime}}</td>
            </tr><tr>
	            <td nowrap>Django Active</td> 
	            <td nowrap>{{active_timezone}}</td>
	            <td nowrap>{{active_utcoffset}}</td>
	            <td nowrap>{{active_datetime}}</td>
            </tr><tr>
	            <td nowrap>Django Settings</td> 
	            <td nowrap>{{django_timezone}}</td>
	            <td nowrap>{{django_utcoffset}}</td>
	            <td nowrap>{{django_datetime}}</td>
            </tr><tr>
            </tr><tr>
	            <td nowrap>Template</td>
	            <td nowrap colspan=2 align=right>localtime on:</td>
	            <td nowrap>{% localtime on %}{% now "DATETIME_FORMAT" %}{% endlocaltime %}</td>
            </tr><tr>
	            <td nowrap>Template</td>
	            <td nowrap colspan=2 align=right>localtime off:</td>
	            <td nowrap>{% localtime off %}{% now "DATETIME_FORMAT" %}{% endlocaltime %}</td>
            </tr><tr>
	            <td nowrap>Template</td>
	            <td nowrap colspan=2 align=right>timezone None:</td>
	            <td nowrap>{% timezone None %}{% now "DATETIME_FORMAT" %}{% endtimezone %}</td>
            </tr></table>
        </div>	    
        {% endif %}
        
	    <div id="footer">{{footer}}</div>{% endblock %}
	</div>
	<!-- END Container -->
</body>
{% block endscript %}{% endblock %}
</html>
