<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>{% block title %}{% endblock %}</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'CoGs/css/default.css' %}" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<meta name="robots" content="NONE,NOARCHIVE" />
	<meta charset="UTF-8" />
	
	{% block styles %}{% endblock %}

{#  VERY SENSITIVE - If we load jquery, and dal_media, alas dal_media reloads jquery #}
{#  and this breaks the eventhandlers we bind to selct2 change events. It is a DAL bug#}
{#  and discussed here: https://github.com/yourlabs/django-autocomplete-light/issues/1079 #}
{#  DAL should not reload eithere of these two libraries if we have loaded them already!#}

{#	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>#}
{#	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.js"></script>#}

	<!-- START DAL media -->
	{{ dal_media }}
	<!-- END DAL media -->

	{# Bootstrap theme for select2 widget #}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
	<script>$.fn.select2.defaults.set( "theme", "bootstrap" );</script>

{# TODO: I don't think we use jQuery-ui yet. But I think we want to some time: https://jqueryui.com/demos/#}
{#	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>#}
{#	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/ >#}
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js"></script>

	{# Include the javascript jQuery library and a datetimepicker that leaves the Django one for dead #}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"/ >
	
	<script>
		//Attach the datetimepicker to all DateTimeFields. Assumes DateTimeField widgets have the class "DateTimeField"
		const datetime_format = "{{default_datetime_input_format}}";
	</script>
	
	<script src="{% static 'CoGs/js/jstz.min.js' %}"></script>
	<script src="{% static 'CoGs/js/datetime_functions.js' %}"></script>

	<script>
		// Template provided variables that submit_info.js expects.
		const CSRF_field 	= '{% csrf_token %}';
		const POST_RECEIVER = "{% url 'post_client_info' %}";
		const SESSION_timezone = "{{ request.session.timezone }}";
		const SESSION_utcoffset = "{{ request.session.utcoffset }}";
		const SESSION_location = "{{ request.session.location }}";
		const DJANGO_timezone = "{{ active_timezone }}";
		const DJANGO_utcoffset = "{{ active_utcoffset }}";
	</script>
	<script src="{% static 'CoGs/js/submit_info.js' %}"></script>

	<script>
		function check_for_leagues() {
			if ("{{league_options|escapejs}}"=="") 
				document.getElementById("league_selector").style.display = 'none';
		}
		
		function setting_changed(event) {
			// Django provides (and demands, if the server implements it) Cross Site Request Forgery (CSRF) protection 
			// Django provides us with a csrf_token which it wants to see in a POST submission or it will reject it.
			// This how Django knows the POST came from this form here and not some other submitter. 
			// The token comes as a HTML hidden form element, and we're building our own POST submission so
			// need to extract the name and value and compose a URI (Uniform Resource Identifer).
			const CSRF_name = CSRF_field.match( /name="(.*?)"/ )[1];
			const CSRF_value = CSRF_field.match( /value="(.*?)"/ )[1];
			const CSRF_uri = CSRF_name + "="  + encodeURI(CSRF_value);
			
			// Determine the setting we're changing
			let FILTER_RECEIVER = null;
			let submission = null;
			if (event.target.id == "id_league_view" ) {
				FILTER_RECEIVER = "{% url 'post_filter' %}";
				submission = CSRF_uri + "&league=" + encodeURI(event.target.value)
			}
			else if (event.target.id == "id_debug_mode" ) {
				FILTER_RECEIVER = "{% url 'post_debugmode' %}";
				submission = CSRF_uri + "&debug_mode=" + encodeURI(event.target.checked)
			}

			if (FILTER_RECEIVER) {
				const POST_FILTER = new XMLHttpRequest();
				POST_FILTER.open("POST", FILTER_RECEIVER, true);
				POST_FILTER.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				
				// This asks for a page reload after posting of the league filter returns
				// TODO: The receiver should really return a signal to indicate success.
				// TODO: A full page reload is a bit of overkill given some pages already
				//       do wonderful AJAX refreshes of the bits that change when settings
				//       change. We should consider a way for the page to set a global variable
				//       which registers a callback to run in place of location.reload(); and
				//       use location.reload(); as a fallback if none is registered.
				// TODO: similarly some pages may wish to disable a reload altogether, for
				//		 example a login page, or a delete confirmation page etc. These 
				//		 could set that callback to null as a signal to disable reload 
				//		 alltogether. SO here we check for undefined in which case we
				//		 reload the page, check for null in which case do nothing, and
				//		 finallyc heck that a function is provided and call that.
				POST_FILTER.onreadystatechange = function () { location.reload(); }
				POST_FILTER.send(submission);
			}
		}
	</script>
	
	{% block startscript %}{% endblock %}	
</head>

<body class="body"  onload="check_for_leagues()">
	<!-- Container -->
	<div id="container">
	
	    <!-- Header -->
	    <div id="header">	    	
	        {% block branding %}
	        <div id="branding">
	        	<a href="{% static 'logo.png' %}"><img src="{% static 'logo.png' %}" align=left height=70></a>
				<h1 id="site-name"><a href="/">CoGs Leaderboard Space</a></h1>
	        </div>
	        {% endblock %}
	        
	        {% block menu %}
	        <div id="menu-line" style="display: flex;">
		        <div id="menu" style="float: left;">
					{% if user.is_authenticated %}	        
		        		[ <a href="/admin">Admin</a> ]
					{% endif %}
						        	
		        	[ <a href="{% url 'leaderboards' %}">Leaderboards</a> ]
		        	
		        	[ <a href="{% url 'list' 'League' %}">Leagues</a> |
		        	<a href="{% url 'list' 'Game' %}">Games</a> |
		        	<a href="{% url 'list' 'Player' %}">Players</a> |
		        	<a href="{% url 'list' 'Location' %}">Locations</a> |
		        	<a href="{% url 'list' 'Session' %}">Sessions</a>]
	
					{% if user.is_authenticated %}
			        	[<a href="{% url 'list' 'Team' %}">Teams</a> |
			        	 <a href="{% url 'list' 'Rank' %}">Ranks</a> |
			        	 <a href="{% url 'list' 'Performance' %}">Performances</a> |
			        	 <a href="{% url 'list' 'Rating' %}">Ratings</a> ] |
			        	 <input type="checkbox" name="debug_mode" id="id_debug_mode" onchange="setting_changed(event)" {% if debug_mode %}checked{% endif %}> Debug
					{% endif %}
		        </div>
{#		        TODO: This league selecter needs to be set:#}
{#		          1) When logging in, set it to the default league of the logged in user.#}
{#						- for this we need to give each logged in user a default league.#}
{#		          2) When viewing a session, set it to the league of the session that was loaded.#}
		        <div id="league_selector" style="margin: 0 auto;">League:
					<select name="league_view" class="ModelChoiceField" required="" id="id_league_view" onchange="setting_changed(event)">
						{{league_options|safe}}
					</select>
{#					{{league_widget|safe}}#}
		        </div>
		        <div id="login" style="float: right; margin-right:50px;">
					{% if user.is_authenticated %}
			        	[ Logged in as: {{ user.player }} | <a href="{% url 'logout' %}?next={{request.path}}"">Logout</a> | 
					{% else %}
			        	[ <a href="{% url 'login' %}?next={{request.path}}">Login</a> |
					{% endif %}
						        
					<a href="{% url 'about' %}">About</a> ]
		        </div>
	        </div>
	        {% endblock %}
	
	        {% block usertools %}
		        {% if has_permission %}
		        <div id="user-tools">
		            {% block welcome-msg %}
		                Welcome,
		                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
		            {% endblock %}
		            {% block userlinks %}
		                {% if site_url %}
		                    <a href="{{ site_url }}">View site</a> /
		                {% endif %}
		                {% if user.is_active and user.is_staff %}
		                    {% url 'django-admindocs-docroot' as docsroot %}
		                    {% if docsroot %}
		                        <a href="{{ docsroot }}">Documentation</a> /
		                    {% endif %}
		                {% endif %}
		                {% if user.has_usable_password %}
		                	<a href="{% url 'admin:password_change' %}">Change password</a> /
		                {% endif %}
		                <a href="{% url 'admin:logout' %}">Log out</a>
		            {% endblock %}
		        </div>
		        {% endif %}
	        {% endblock %}
	    </div>
	    <!-- END Header -->
	
	    {% block messages %}
	        {% if messages %}
	        <ul class="messagelist">
	        	{% for message in messages %}
	          		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
	        	{% endfor %}
	        </ul>
	        {% endif %}
	    {% endblock messages %}
	
	    <!-- Content -->
	    <div id="content" class="content">
	        {% block content_title %}<h1><div id='title'>{% autoescape off %}{{ title }}{% endautoescape %}</div></h1>{% endblock %}
	        {% block content_subtitle %}<h2><div id='subtitle'>{% autoescape off %}{{ subtitle }}{% endautoescape %}<div></h2>{% endblock %}
	        {% block content %}{% endblock %}
	        {% block sidebar %}{% endblock %}
	        <br class="clear" />
	    </div>
	    <!-- END Content -->
	
	    {% block footer %}

	    <!-- DEBUG: debug is the settings.DEBUG flag and session["debug_mode"] flag -->
	    {% if debug or debug_mode %}
			{% include "CoGs/include/timezone_diag.html" %}
			{% include "CoGs/include/session_spy.html" %}
		    {% if filters %}
				{% include "CoGs/include/filter_spy.html" %}
	        {% endif %}
        {% endif %}
        
	    <div id="footer">{{footer}}</div>{% endblock %}
	</div>
	<!-- END Container -->
</body>

<script>			
	// Attach a datetimepicker to all DateTimeFields. 
	// Assumes DateTimeField widgets have the class "DateTimeField"
	$(function(){
		$(".DateTimeField").datetimepicker({
			"format": datetime_format,
			"step" : 15
		});
	});
</script>

{% block endscript %}{% endblock %}
</html>
