{% extends "CoGs/base.html" %}
{% load staticfiles %}
{% load filters %}
{% load tags %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<p><a href="/add/{{model_name}}">Add {{ model_name.title }}</a></p>
{% endif %}	   

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
	// Save the URL when we load for later use
	function saveURL() {
		URL_ajax = "{% url 'get_list_html' model=model_name %}";
		URL_page = window.location.href.split('?')[0];
	}
	window.onload = saveURL;

	var filters	= {{filters}};
	var default_elements = "{{format_default.object_summary_format}}";
	var default_complete = "{{format_default.object_display_modes}}";
	var default_link = "{{format_default.field_link_target}}";
	var default_menus = "{{format_default.list_menu_format}}";
	var default_index = "{{format_default.index}}";
	var default_key = "{{format_default.key}}";
	var default_ordering = "{{ordering_default}}";

	function toggle_filters() {
		current = $(".toggle")[0].style.visibility;
		if (current == "collapse") 
			$(".toggle").css('visibility', 'visible'); 
		else
			$(".toggle").css('visibility', 'collapse');		
	}
	
	function check_button(which_one) {
		$("#opt_elements_"+which_one).prop("checked", true);
	}
	
	function URLopts() {
		var opts = []
	
		// The basic formatting and layout options
		elements = $('input[type=radio][name=opt_elements]:checked').attr('value');
		complete = $('input[type=radio][name=opt_complete]:checked').attr('value');
		link = $('input[type=radio][name=opt_link]:checked').attr('value');
		menus = $('input[type=radio][name=opt_menus]:checked').attr('value');
		index = $('#opt_index').is(':checked') ? "index" : "noindex";
		key = $('#opt_key').is(':checked') ? "key" : "nokey";
		
		filter_opts = filter_url_opts();
		ordering_opts = ordering_url_opts();
		
		// The filter if specified on the URL may contain condition the filter widget doesn't support
		// So if  URL supplied filter is not in the widget provided filter opts, include it
		for (f in filters)
			if (filter_opts.indexOf(filters[f]) < 0) 
				opts.push(filters[f]);

		if (elements != default_elements) opts.push(elements);
		if (complete != default_complete) opts.push(complete);
		if (link != default_link) opts.push(link);
		if (menus != default_menus) opts.push(menus);
		if (index != default_index) opts.push(index);	
		if (key != default_key) opts.push(key);	
				
		if (filter_opts.length > 0) opts.push(filter_opts.join("&"));
		if (ordering_opts.length > 0) opts.push(ordering_opts.join("&"));
		
		url_opts = (opts.length > 0) ? "?" + opts.join("&") : ""
		
		// Add the global league filter to URL opts used in GET requests 
		$league_id = $("#id_league_view").val();
		url_opts += ($league_id == 0) ? "" : "&league=" + $league_id;

		return url_opts;
	}
	
	var REQUEST = new XMLHttpRequest();
	REQUEST.onreadystatechange = function () {
	    // Process the returned JSON
		if (this.readyState === 4 && this.status === 200){
			var response = JSON.parse(this.responseText);
			$("#data").html(response.HTML);
			URL_ajax = response.json_URL 
 			window.history.pushState("","", response.view_URL);
			$("#reloading_icon").css("visibility", "hidden");
			$("#opt_brief").prop('disabled', false);
			$("#opt_verbose").prop('disabled', false);
			$("#opt_rich").prop('disabled', false);
			$("#opt_detail").prop('disabled', false);
			$("#opt_specified").prop('disabled', false);
		}
	};
	
	function reload(event) {
		$("#reloading_icon").css("visibility", "visible");
		$("#opt_brief").prop('disabled', true);
		$("#opt_verbose").prop('disabled', true);
		$("#opt_rich").prop('disabled', true);
		$("#opt_detail").prop('disabled', true);
		$("#opt_specified").prop('disabled', true);
		var url = URL_ajax + URLopts();
		REQUEST.open("GET", url, true);
		REQUEST.send(null);		
	}
	

	// These functions need to be writen/tested/ and then made part of the widgets themselves.
	// They are here for now to write and test before moving into widgets

	// Filter widget code seems in order and tested bar:
	// TODO: add datetimepicker to these
	// TODO: ignore options who have no value! Don't add them to fopts.
	// TODO: Hmmm, have to support relations, like ranks_player (which should in fact be performances_player anyhow).	
  	function CollectFilterField(index, value) {
  		var field = $(value);
  		console.log("CollectFilterField: " + field);
  		
  		var opt = field.prop('name');
  		
  		var val = null;
  		if (field.is("input"))
  			val = field.val();
  		else if (field.is("select"))
  			val = field.find(":selected").val();

		if (val != 'None' && val != "")
			fopts.push(opt + "=" + val);
  	}
	
 	function filter_url_opts() {
		fopts = [];
		var widgetid = "session_filtering_widget";
  		console.log("filter_url_opts: " + widgetid);
		$("#"+widgetid).find(":input[id^='filter_field']").each(CollectFilterField);
		return fopts;	
 	}
  	
	// Ordering widget code seems in order and tested. Need to move this into widget def.	 
  	function CollectOrderingField(index, value) {fields.push($(value).attr('name'));}
  	function CollectOrderingDir(index, value) {dirs.push($(value).text());}

	function get_ordering_dir(text) {
	  if (text == String.fromCharCode(9650)) return "";
	  else if (text == String.fromCharCode(9660)) return "-";
	  else if (text == String.fromCharCode(9644)) return null;
	  else return null;
	}

 	function ordering_url_opts() {
		var widgetid = "session_ordering_widget";  	
		fields = [];  dirs = [];
		$("#"+widgetid).find("span[id^='ordering_field']").each(CollectOrderingField);
		$("#"+widgetid).find("span[id^='ordering_dir']").each(CollectOrderingDir);
		
		var opts = [];
		for (i = 0; i < fields.length; i++) {
			pfx = get_ordering_dir(dirs[i]);
			if (pfx != null) { 
				opts.push(pfx+fields[i]);
			}
		}
		
		return opts.length > 0 ? ["ordering=" + opts.join(",")] : [];
	}
	
	function show_url() {
		var url = URL_page + URLopts();
		window.history.pushState("","", url);
	}
</script>     

<p>Displaying {{ object_list | length }} {{model_name_plural }} of {{ total }}. </p>

{#{% if get_params %}#}
{#<p>{{get_params}}</p>#}
{#{% endif %}#}

<table id="ListViewOptions" class="tight">
	<tr>
		<th class='tight options'>
			Quick Views:
		</th>
		<td class='tight options'>
			<img id='reloading_icon' src='{% static "Reload.apng" %}' style='vertical-align: middle; visibility:hidden;'>
			<input type="button" id="opt_brief" value="Brief" onclick="check_button('brief'); reload(event);">
			<input type="button" id="opt_verbose" value="Verbose" onclick="check_button('verbose'); reload(event);">
			<input type="button" id="opt_rich" value="Rich" onclick="check_button('rich'); reload(event);">
			<input type="button" id="opt_detail" value="Detail" onclick="check_button('detail'); reload(event);">
			<span style="margin-left: 8ch;"><b>Advanced options <a onclick="toggle_filters();">&#9660;</a></b></span>
		</td>
	</tr>
	<tr id="opt_summary_formats" class='tight options toggle' style="visibility:collapse;">
		<th class='tight options'>
			<br/>
			<input type="button" id="opt_specified" value="Show:" onclick="reload(event);">
		</th>
		<td class='tight options'>
			<br/>
			<input type="radio" name="opt_elements" id="opt_elements_brief" value="brief" {{format.elements|checked:1}}>Brief
			<input type="radio" name="opt_elements" id="opt_elements_verbose" value="verbose" {{format.elements|checked:2}}>Verbose
			<input type="radio" name="opt_elements" id="opt_elements_rich" value="rich" {{format.elements|checked:3}}>Rich
			<input type="radio" name="opt_elements" id="opt_elements_detail" value="detail" {{format.elements|checked:4}}>Detail
			<a onclick='show_url()' style='margin-left: 8ch;'>[URL]</a>
		</td>
	</tr>
	<tr id="opt_menu_formats" class='tight options toggle' style="visibility:collapse;">
		<th class='tight options'>
			In:
		</th>
		<td class='tight options'>
			<input type="radio" name="opt_complete" id="opt_complete_as_table" value="as_table" {{format.complete|checked:1}}>a table
			<input type="radio" name="opt_complete" id="opt_complete_as_ul" value="as_ul" {{format.complete|checked:2}}>a bulleted list
			<input type="radio" name="opt_complete" id="opt_complete_as_p" value="as_p" {{format.complete|checked:3}}>paragaphs
			<input type="radio" name="opt_complete" id="opt_complete_as_br" value="as_br" {{format.complete|checked:4}}>a paragraph
		</td>
	</tr>		
	<tr id="opt_link_formats" class='tight options toggle' style="visibility:collapse;">
		<th class='tight options'>
			Links:
		</th>
		<td class='tight options'>
			<input type="radio" name="opt_link" id="opt_link_none" value="no_links" {{format.link|checked:0}}>None
			<input type="radio" name="opt_link" id="opt_link_internal" value="internal_links" {{format.link|checked:1}}>CoGs
			<input type="radio" name="opt_link" id="opt_link_external" value="external_links" {{format.link|checked:2}}>BGG
		</td>
	</tr>		
	<tr id="opt_menu_formats" class='tight options toggle' style="visibility:collapse;">
		<th class='tight options'>
			Menus:
		</th>
		<td class='tight options'>
			<input type="radio" name="opt_menus" id="opt_menus_none" value="no_menus" {{format.menus|checked:0}}>None
			<input type="radio" name="opt_menus" id="opt_menus_text" value="text_menus" {{format.menus|checked:1}}>Text
			<input type="radio" name="opt_menus" id="opt_menus_buttons" value="button_menus" {{format.menus|checked:2}}>Buttons
		</td>
	</tr>		
	<tr id="opt_index_formats" class='tight options toggle' style="visibility:collapse;">
		<th class='tight options'>
			Rows:
		</th>
		<td class='tight options'>
			<input type="checkbox" id="opt_index" {{format.index|checked}}>
			<label for="opt_index">Index</label>		
			<input type="checkbox" id="opt_key" {{format.key|checked}}>
			<label for="opt_key">Key</label>		
		</td>
	</tr>		
{#	Removed the toggle class from these two rows so they remain hidden.#}
{#	In development and not ready yet.#}
	<tr id="opt_filters" class='tight options' style="visibility:collapse;">
		<th class='tight options'>
			Filter on:
		</th>
		<td class='tight options'>
			{{ widget_filters }}		
		</td>
	</tr>
	<tr id="opt_ordering" class='tight options' style="visibility:collapse;">
		<th class='tight options'>
			Order by:
		</th>
		<td class='tight options'>
			{{ widget_ordering }}		
		</td>
	</tr>	
</table>
<p/>

{% if txt_filters %}
	<p><b>{{model_name_plural|title}} for:</b> {{txt_filters}}</p>
{% endif %}

<div id="data">{{ view.as_html }}</div>

{% endblock %}