{% extends "CoGs/base.html" %}
{% load static %}
{% load filters %}
{% load tags %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'CoGs/css/tooltip.css' %}" />
{% endblock %}

{#======================#}
{#		CONTENT			#}
{#======================#}

{% block content %}
{% endblock %}

{#======================#}
{#		SCRIPTS			#}
{#======================#}

{% block startscript %}
{% endblock %}

{% block endscript %}
{% endblock %}
