{% extends "CoGs/base.html" %}
{% load staticfiles %}
{% block title %}Leaderboards{% endblock %}

{% block content %}
{{ widget_media }}

<script>
	$.fn.select2.defaults.set( "theme", "bootstrap" );
</script>

<table class=LeaderboardOptions>
	<tr>
		<td class='tight options'>
			<b>View:</b>
		</td>
		<td class='tight options'>
			<img id='reloading_icon' src='{% static "Reload.apng" %}' style='vertical-align: middle; visibility:hidden;'>
			
			<input type="button" id="btnAllLeaderboards" value="All Leaderboards" onclick="refetchLeaderboards(event);">

			<input type="button" id="btnLeaderboards" value="Leaderboards" onclick="refetchLeaderboards(event);" style="margin-left: 8ch;"> for
			
			
			<input type="button" id="btnImpact" value="Impact of Last Session"  onclick="refetchLeaderboards(event);" style="margin-left: 8ch;">
			of <input type="number" id="num_days" min="0" class="Number" style="width: 5ch" onchange="blank_zero(this);"> days
		</td>
	</tr>
	<tr>
		<td class='options'>
			in
		</td>
		<td class='options'>
			<select id="selCols" onchange='DrawTables("tblLB");' autofocus>
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			  <option>6</option>
			</select>
			<label>columns</label>,

			linking game and player names to
			
			<select id="selLinks" onchange='DrawTables("tblLB");'>
			  <option value="none">nowhere</option>
			  <option value="CoGs">CoGs Leaderboard Space</option>
			  <option value="BGG">boardgamegeek.com</option>
			</select>
		</td>
	</tr>
	
{#	ADVANCED OPTIONS #}
	
	<tr>
		<td class='options' colspan = 2>
			<span style="margin-right: 4ch;"><b><a onclick="toggle_options();">Advanced options&#9660;</a></b></span>

			<input type="checkbox" id="chkHighlightPlayers" onchange='toggle_player_highlights();'> 		
			Highlight players.

			<input type="checkbox" id="chkHighlightChanges" onchange='toggle_change_highlights();'> 		
			Highlight changes.

			<input type="checkbox" id="chkSessionDetails" onchange='DrawTables("tblLB");'> 		
			Show session details.
			
			<input type="checkbox" id="chkSessionAnalysisPre" onchange='DrawTables("tblLB");'> 		
			Show TrueSkill Predictions.
			
			<input type="checkbox" id="chkSessionAnalysisPost" onchange='DrawTables("tblLB");'> 
			Show Post-Session TrueSkill Predictions.			
		</td>
	</tr>
	
{#	FORMATTING OPTIONS #}
	
	<tr class="toggle" style="visibility: collapse;">
		<th class='options indent' colspan=2>
			Formatting:
		</th>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight' style="line-height:2;">
			Using player 
			<select id="selNames">
			  <option value="nick">nickname</option>
			  <option value="full">full name</option>
			  <option  value="complete">full name (nickname)</option>
			</select>
		</td>
	</tr>
	
{#	FILTERING OPTIONS #}
	
	<tr class="toggle" style="visibility: collapse;">
		<th class='options indent' colspan=2>
			Filtering:
		</th>
	</tr>

	{# GAME FILTERS #}
		
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<th class='options tight'> 
			Games:				
		</th>			
	</tr>			
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight indent' style="line-height:2;"> 
			<input type="number" id="num_games" min="0" class="Number" style="width: 5ch;" onchange="blank_zero(this);"> most popular games<br>
			<label>Only these games: </label>{{ widget_games }}<br>				
		</td>			
	</tr>			
	
	{# PLAYER FILTERS #}
			
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<th class='options tight'> 
			Players:
		</th>			
	</tr>			
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight indent' style="line-height:2;"> 
			<label>Only games played by one or more of these players: </label>{{ widget_players }}<br>
			<input type="number" id="num_players" min="0" class="Number" style="width: 5ch;" onchange="blank_zero(this);"> 
				<select id="PlayerNumberContext">
				  <option value="top">top players</option>
				  <option value="before">players before a select player</option>
				  <option value="around">players around a select player</option>
				  <option value="after">players around a select player</option>
				</select><br>		
			<label>Only players who have played a game at least </label> 
				<input type="number" id="min_plays" min="0" class="Number" style="width: 5ch;" onchange="blank_zero(this);">
				<label>times</label><br>
			<label>Only players who have played a game since: </label> 
				<input class="DateTimeField" id="played_since" type="text"><br>
		</td>			
	</tr>			

	{# LEAGUE FILTERS #}
			
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<th class='options tight'> 
			Leagues:
		</th>			
	</tr>			

	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight indent' style="line-height:2;"> 
			<label>Only games played by one or more of these leagues: </label>{{ widget_leagues }}<br>				
		</td>			
	</tr>			

	{# ACTIVITY FILTERS #}
			
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<th class='options tight'> 
			Activity:
		</th>			
	</tr>			

	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight indent' style="line-height:2;"> 
			<label>Only leaderboards that changed on or after: </label>
			<input class="DateTimeField" id="changed_since" type="text" onchange="copy_if_empty('#changed_since','#compare_back_to')"><br>
		</td>			
	</tr>			

{#	PERSPECTIVE OPTIONS #}
	
	<tr class="toggle" style="visibility: collapse;">
		<th class='options indent' colspan=2>
			Perspective:
		</th>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight' style="line-height:2;">
			<label>Leaderboards as they were at (i.e. historic snapshot): </label>
			<input class="DateTimeField" id="as_at" type="text" ><br>
		</td>			
	</tr>	
			
{#	EVOLUTION OPTIONS #}

{#TODO: Move Impact of to here and use radio buttons. Eitehr#}
{# impact of last n day session or #}
{# compare with last n prior or#}
{# present between date range#}
{# three radio buttons to choose from.#}

	<tr class="toggle" style="visibility: collapse;">
		<th class='options indent' colspan=2>
			Evolution:
		</th>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight'  style="line-height:2;">
			<label>Compare each leaderboard with</label>:
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight indent' style="line-height:2;">
			<input type="number" id="compare_with" min="0" class="Number" style="width: 5ch" onchange="blank_zero(this);">
			<label>prior leaderboards</label>
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight'>
				or
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight indent' style="line-height:2;">
			<label>leaderboards back to:</label> <input class="DateTimeField" id="compare_back_to" type="text">
			<label>and/or up until:</label>			
			<input class="DateTimeField" id="compare_till" type="text">
		</td>
	</tr>	
	
{#	ADVANCED ACTIONS #}
	
	<tr class="toggle" style="visibility: collapse;">
		<td class='options indent'>
			<button type="button" id='btnCopy' onclick="prepare_target();" data-clipboard-target="#tblLB_naked">Copy</button> 
		</td>
		<td class='options'>
			leaderboards to clipboard
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options indent'>
			<button type="button" id='btnShowURL' onclick="show_url();">Show</button> 
		</td>
		<td class='options'>
			URL
		</td>
	</tr>
</table>

<h3><label id='lblTotalCount'></label><label id='lblSnapCount' style='margin-left:1ch'></label></h3>
		
<table id='tblLB'>
</table>
{% endblock %}

{% block startscript %}
<script>
	// Nab the options and their defaults from context
	var options = {{ options|safe }};
	var defaults = {{ defaults|safe }};

	// Nab the data from context
	var leagues = {{ leagues|safe }};
	var players = {{ players|safe }};
	var games = {{ games|safe }};
	
	// The big one! Leaderboards. This is a structure of lists within lists
	// Games, Snapshots and Players in that order. 
	//
	// see view_Leaderboards for specs and generation of what is delivered, but here is
	// the expectation:
	// A list of lists which have four values: Game PK, Game BGGid, Game name, Snapshots
	// Snapshots is a list of lists which have four values: Date time string, count of plays, count of sessions, Leaderboard
	// Leaderboard is a list of lists which have six values: Player PK, Player BGGid, Player name, Trueskill rating, Play count, Victory count
	//
	// So lists within lists within a list. This is what we're here to present.
	//
	// As a side note, the standard view has one snapshot, the current ratings, and leaderboards pr at some other specified time (as_at) 
	// Extra snapshots are expected when asked for (for comparisons with history and evolutionary examinations), one
	// extra snapshot per compare_with (a number specifying how many) or a variable number if compare_back_to is specified, 
	// up to and including the snapshot at compare_till or now if compare_till isn't specified.  
	
	var leaderboards = {{leaderboards|safe}};
	
	/// We can't access template variables in the included static javascript so here is 
	// where we nab what we need for the Javascript and stow in javascript variables that
	// the code in the included .js file can see.  
	
	// Note the initial value of various controls on the view
	value_date_format = "{{default_datetime_input_format}}";
		
	// And some URLs
	url_leaderboards = "{% url 'leaderboards' %}";
	url_json_leaderboards = "{% url 'json_leaderboards' %}"
	
	url_view_Game = "{% url 'view' 'Game' '00' %}";		// 00 is replaced by PK in the JavaScript code
	url_view_Player = "{% url 'view' 'Player' '00' %}"; // 00 is replaced by PK in the JavaScript code		
	url_view_Team = "{% url 'view' 'Team' '00' %}"; 	// 00 is replaced by PK in the JavaScript code		
	url_list_Sessions = "{% url 'list' 'Session'%}";		
</script>
{% endblock %}

{% block endscript %}
<script src="{% static 'CoGs/js/view_leaderboards.js' %}"></script>	
{% endblock %}


