{% extends "CoGs/base.html" %}
{% load static %}
{% load tags %}
{% block title %}Session Impact{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'CoGs/css/leaderboards.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'CoGs/css/tooltip.css' %}" />
{% endblock %}

{#TODO: Write a page/view that summarises sessions between two dates, as I do in mailouts. Speed up mailouts one more step! #}

{% block content %}

{#	The context must provide:	#}
{#	- The game name	#}
{#	- The datetime of the session	#}
{#	- A count of boards rebuilt (0 if none) #}
{#	- Three leaderboards. 3 of them as outlined below #}

{% if user.is_authenticated %}
	<p>
		[<a href="{% url 'add' model_name %}">Add another {{ model_name.title }}</a>]
		[<a href="{% url 'edit' model_name object_id %}">Edit this {{ model_name.title }} again</a>]
		[<a href="{% url 'list' model_name %}">List all {{ model_name_plural.title }}</a>]
		[<a href="{% url 'list' model_name %}?game={{game.pk}}">List {{game.name}} {{ model_name_plural.title }}</a>]
	</p>
{% endif %}	   

<p>Thanks for submitting the results of your game of {{game}} played on {{date_time}}.</p>

{#<p>Changed: {{ changed }}</p>#}
{#<p>Is Latest: {{ is_latest }}</p>#}
{#<p>Is First: {{ is_first }}</p>#}
{#<p>Rebuild log: {{ changed.rebuild_log }}</p>#}
{#<p>Sessions: {{ changed.rebuild_log.sessions }}</p>#}
{#<p>Session Objects: {{ changed.rebuild_log.sessions.objects }}</p>#}
{#<p>All Session Objects: {{ changed.rebuild_log.sessions.all }}</p>#}
{#<p>All Session Objects Count: {{ changed.rebuild_log.sessions.all.count }}</p>#}

{% if changed %}
	{% if changed.rebuild_log %}
		<p>This submission triggered a rebuild of the ratings and hence leaderboard positions
		from {{changed.rebuild_log.date_time_from}} (a total of {{changed.rebuild_log.sessions.all.count}} 
		game session ratings were rebuilt).</p>  
		
		{% if is_first %}
		<p>It is the first session recorded for {{game}}, and so no leaerboard existed prior to it.</p>   
		{% endif %}
		
		<p>This is the impact on the current leaderboard AND the immediate leaderboard 
		after your recorded play session:</p>
	
		<table class='leaderboard wrapper'>
			<tr>
				<th>Current Latest Leaderboard<br>(After the Rebuild)</th>
				<th>Prior Latest Leaderboard<br>(Before the Rebuild)</th>
				<th>Leaderboard After Playing<br>(Result after this Session)</th>
				{% if not is_first %}
				<th>Leaderboard Before Playing<br>(Result of Prior Session)</th>
				{% endif %}
			</tr>
			<tr>
				<td><div id="latest_board"></div></td>
				<td><div id="prior_board"></div></td>
				<td><div id="after_board"></div></td>
				{% if not is_first %}
				<td><div id="before_board"></div></td>
				{% endif %}
			</tr>
		</table>
		
		
	{% elif is_latest %}
		{#	Subtle use of "was" to differentiate from creation below that uses "is" #}
		<p>This was the latest result for that game and the resulting leaderboard is:</p>   
		
		{#	We display just the leaderboard for this game which is the latest#}
		{#	We should maybe provide the one after this game (based on Performances) and the latest#}
		{#	 one (based on Ratings) and just validate that they are the same and if not consider #}
		{#	 reporting an integrity error with instructions on how to submit it.#}
		{#	Maybe a button to submit it, which sends an email to admins. #}
	
		{#	Include a diagnostic board if needed. #}
		{% if diagnose %}
			<table class='leaderboard wrapper'>
				<tr>
					<th>Leaderboard After Playing<br>(Result after this Session)</th>
					<th>Leaderboard Before Playing<br>(Result of Prior Session)</th>
					<th>Diagnostic Leaderboard<br>(Something went wrong)</th>
				</tr>
				<tr>
					<td><div id="after_board"></div></td>
					<td><div id="before_board"></div></td>
					<td><div id="diagnostic_board"></div></td>
				</tr>
			</table>
		{% else %}
			<table class='leaderboard wrapper'>
				<tr>
					<th>Leaderboard After Playing<br>(Result after this Session)</th>
					<th>Leaderboard Before Playing<br>(Result of Prior Session)</th>
				</tr>
				<tr>
					<td><div id="after_board"></div></td>
					<td><div id="before_board"></div></td>
				</tr>
			</table>
		{% endif %}
		
	{% else  %}
		{% if is_first %}
		<p>This was the first result for that game, but no rating rebuilds were triggered, and the resulting leaderboard is:</p>   
		{% else  %}
		<p>This was not the latest result for that game, but no rating rebuilds were triggered, and the resulting leaderboard is:</p>   
		{% endif %}

		<table class='leaderboard wrapper'>
			<tr>
				<th>Current Latest Leaderboard<br>(Unchanged by this Submission)</th>
				<th>Leaderboard After Playing<br>(Result after this Session)</th>
				{% if not is_first %}
				<th>Leaderboard Before Playing<br>(Result of Prior Session)</th>
				{% endif %}
			</tr>
			<tr>
				<td><div id="latest_board"></div></td>
				<td><div id="after_board"></div></td>
				{% if not is_first %}
				<td><div id="before_board"></div></td>
				{% endif %}
			</tr>
		</table>
	{% endif %}

{% else %}
	<p>This is the latest result for that game and the resulting leaderboard is:</p>   

	{# TODO: test and consider how to do htis. Currently not saving changelog for every newly created session. Why flood the database?#}
	{#	Thought: in the creation case the view receives the info it needs from a changelog instead from a session key saved  #}
	{#	That's the system I first trialled/ Such reports are ephemeral of course. #}
	{#	But if it's the latest it can also always fall back on the actual latest board!#}
	
	{#	We display just the leaderboard for this game which is the latest#}
	{#	We should maybe provide the one after this game (based on Performances) and the latest#}
	{#	 one (based on Ratings) and just validate that they are the same and if not consider #}
	{#	 reporting an integrity error with instructions on how to submit it.#}
	{#	Maybe a button to submit it, which sends an email to admins. #}

	{#	Include a diagnostic board if needed. #}
	{% if diagnose %}
		<table class='leaderboard wrapper'>
			<tr>
				<th>Leaderboard Before Playing</th>
				<th>Leaderboard After Playing</th>
				<th>Diagnostic Leaderboard</th>
			</tr>
			<tr>
				<td><div id="before_board"></div></td>
				<td><div id="after_board"></div></td>
				<td><div id="diagnostic_board"></div></td>
			</tr>
		</table>
	{% else %}
		<table class='leaderboard wrapper'>
			<tr>
				<th>Leaderboard Before Playing</th>
				<th>Leaderboard After Playing</th>
			</tr>
			<tr>
				<td><div id="before_board"></div></td>
				<td><div id="after_board"></div></td>
			</tr>
		</table>
	{% endif %}
{% endif %}
 
{% endblock %}

{% block startscript %}
<script>
	// Up to three snaptshots, the leaderboard after the sessiuon, before the session and a baseline as available.
	let impact = {{leaderboard_snapshots|safe}};
	
	// The latest leaderboard 
	let leaderboard = {{leaderboard|safe}};
	
	// The prior leaderboard (prior to a rebuild)
	{% if changed and changed.rebuild_log%}
	let prior = {% leaderboard_before_rebuild changed.rebuild_log game %}
	{% endif %}
	
	// We can't access template variables in the included static javascript so here is 
	// where we nab what we need for the Javascript and stow in javascript variables that
	// the code in the included .js file can see.  
	
	let url_view_Game = "{% url 'view' 'Game' '00' %}";		// 00 is replaced by PK in the JavaScript code
	let url_view_Player = "{% url 'view' 'Player' '00' %}"; // 00 is replaced by PK in the JavaScript code		
	let url_view_Team = "{% url 'view' 'Team' '00' %}"; 	// 00 is replaced by PK in the JavaScript code		
	let url_view_Session = "{% url 'view' 'Session' '00' %}"; 	// 00 is replaced by PK in the JavaScript code		
	let url_list_Sessions = "{% url 'list' 'Session'%}";
	
	LB_options = [
		true,   // highlight_players,
		true,   // highlight_changes,
		false,  // highlight_selected,
		true,   // details,
		true,   // analysis_pre,
		true,   // analysis_post,
		true    // show_delta 
	];	
	
	// Configurable, should agree with what the Django view is configured to deliver.
	// if the Django view is delivering baseline boards this should be true and we will
	// not render them and use them only for calculating rank deltas. If it is false
	// the view should idelaly not deliver baslines (or they'll render and not honor
	// the leaderboard options accurately).
	const use_baseline = true;
</script>
{% endblock %}

{% block endscript %}
<script src="{% static 'CoGs/js/leaderboard.js' %}"></script>

<script>
	$('#after_board').append(LeaderboardTable(impact, 0, "CoGs", LB_options, null, "nick"));	
	$('#before_board').append(LeaderboardTable(impact, 1, "CoGs", LB_options, null, "nick"));	
	
	const lb = $('#latest_board')
	if (lb) lb.append(LeaderboardTable(leaderboard, null, "CoGs", LB_options, null, "nick"));

	const pb = $('#prior_board')
	if (pb) pb.append(LeaderboardTable(prior, null, "CoGs", LB_options, null, "nick"));
	
	const db = $('#diagnostic_board');
	if (db) db.append(LeaderboardTable(impact, 0, "CoGs", LB_options, null, "nick", 1));
</script>
{% endblock %}
