{% extends "CoGs/base.html" %}
{% load staticfiles %}
{% block title %}Leaderboards{% endblock %}

{% block content %}
<table class=LeaderboardOptions>
	<tr>
		<td class='tight options'>
			<b>View:</b>
		</td>
		<td class='tight options'>
			<img id='reloading_icon' src='{% static "Reload.apng" %}' style='vertical-align: middle; visibility:hidden;'>
			
			<input type="button" id="btnAllLeaderboards" value="All Leaderboards" onclick="refetchLeaderboards(event);">

			<input type="button" id="btnLeaderboards" value="Leaderboards" onclick="refetchLeaderboards(event);" style="margin-left: 8ch;"> for
			<input type="number" id="num_games" min="0" class="Number" style="width: 5ch;"> most popular games
			
			<input type="button" id="btnImpact" value="Impact of Last Session"  onclick="refetchLeaderboards(event);" style="margin-left: 8ch;">
			of <input type="number" id="num_days" min="0" class="Number" style="width: 5ch"> days
		</td>
	</tr>
	<tr>
		<td class='options'>
			in
		</td>
		<td class='options'>
			<select id="selCols" onchange='DrawTables("tblLB");' autofocus>
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			  <option>6</option>
			</select>
			<label>columns</label>,

			linking game and player names to
			
			<select id="selLinks" onchange='DrawTables("tblLB");'>
			  <option value="none">nowhere</option>
			  <option value="CoGs">CoGs Leaderboard Space</option>
			  <option value="BGG">boardgamegeek.com</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class='options' colspan = 2>
			<span style="margin-right: 4ch;"><b><a onclick="toggle_options();">Advanced options&#9660;</a></b></span>
			<input type="checkbox" id="chkHighlightPlayers" onchange='toggle_player_highlights();'> 
			Highlight players.
			<input type="checkbox" id="chkHighlightChanges" onchange='toggle_change_highlights();'> 
			Highlight changes.
			<input type="checkbox" id="chkSessionDetails" onchange='DrawTables("tblLB");'> 
			Show session details.
			<input type="checkbox" id="chkSessionAnalysisPre" onchange='DrawTables("tblLB");'> 
			Show TrueSkill Predictions.
			<input type="checkbox" id="chkSessionAnalysisPost" onchange='DrawTables("tblLB");'> 
			Show Post-Session TrueSkill Predictions.
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options' colspan=2>
			Formatting:
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight' style="line-height:2;">
			Using player 
			<select id="selNames">
			  <option value="nick">nickname</option>
			  <option value="full">full name</option>
			  <option  value="complete">full name (nickname)</option>
			</select>
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options' colspan=2>
			Filtering:
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight' style="line-height:2;">
			<label>Only games played by league: </label><select id='selLeague' onchange='LabelButton("btnAllLeaderboards")'></select><br>
			<label>Only games played by player: </label><select id='selPlayer' onchange='LabelButton("btnAllLeaderboards")'></select><br>
			<label>Only this game: </label><select id='selGame'></select><br>
			<label>Only leaderboards that changed on or after: </label>
			<input class="DateTimeField" id="changed_since" type="text" onchange="copy_if_empty('#changed_since','#compare_back_to')"><br>
		</td>			
	</tr>			
	<tr class="toggle" style="visibility: collapse;">
		<td class='options' colspan=2>
			Perspective:
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight' style="line-height:2;">
			<label>Leaderboards as they were at (i.e. historic snapshot): </label>
			<input class="DateTimeField" id="as_at" type="text" ><br>
		</td>			
	</tr>			
	<tr class="toggle" style="visibility: collapse;">
		<td class='options' colspan=2>
			Evolution:
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options tight'/>
		<td class='options tight' style="line-height:2;">
			<label>Compare each leaderboard with</label>
			<input id="compare_with" size=3 type="text" onkeyup="this.value=this.value.replace(/[^\d]+/,'')">
			<label>prior leaderboards, or leaderboards back to</label>
			<input class="DateTimeField" id="compare_back_to" type="text">
			<label>and/or up until</label>			
			<input class="DateTimeField" id="compare_till" type="text">
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options'>
			<button type="button" id='btnCopy' onclick="prepare_target();" data-clipboard-target="#tblLB_naked">Copy</button> 
		</td>
		<td class='options'>
			leaderboards to clipboard
		</td>
	</tr>
	<tr class="toggle" style="visibility: collapse;">
		<td class='options'>
			<button type="button" id='btnShowURL' onclick="show_url();">Show</button> 
		</td>
		<td class='options'>
			URL
		</td>
	</tr>
</table>

<h3><label id='lblTotalCount'></label><label id='lblSnapCount' style='margin-left:1ch'></label></h3>
		
<table id='tblLB'>
</table>
{% endblock %}

{% block startscript %}
<script>
	// Nab the options and their defaults from context
	var options = {{ options|safe }};
	var defaults = {{ defaults|safe }};

	// Nab the data from context
	var leagues = {{ leagues|safe }};
	var players = {{ players|safe }};
	var games = {{ games|safe }};
	
	// The big one! Leaderboards. This is a structure of lists within lists
	// Games, Snapshots and Players in that order. 
	//
	// see view_Leaderboards for specs and generation of what is delivered, but here is
	// the expectation:
	// A list of lists which have four values: Game PK, Game BGGid, Game name, Snapshots
	// Snapshots is a list of lists which have four values: Date time string, count of plays, count of sessions, Leaderboard
	// Leaderboard is a list of lists which have six values: Player PK, Player BGGid, Player name, Trueskill rating, Play count, Victory count
	//
	// So lists within lists within a list. This is what we're here to present.
	//
	// As a side note, the standard view has one snapshot, the current ratings, and leaderboards pr at some other specified time (as_at) 
	// Extra snapshots are expected when asked for (for comparisons with history and evolutionary examinations), one
	// extra snapshot per compare_with (a number specifying how many) or a variable number if compare_back_to is specified, 
	// up to and including the snapshot at compare_till or now if compare_till isn't specified.  
	
	var leaderboards = {{leaderboards|safe}};
	
	/// We can't access template variables in the included static javascript so here is 
	// where we nab what we need for the Javascript and stow in javascript variables that
	// the code in the included .js file can see.  
	
	// Note the initial value of various controls on the view
	value_date_format = "{{default_datetime_input_format}}";
		
	// And some URLs
	url_leaderboards = "{% url 'leaderboards' %}";
	url_json_leaderboards = "{% url 'json_leaderboards' %}"
	
	url_view_Game = "{% url 'view' 'Game' '00' %}";		// 00 is replaced by PK in the JavaScript code
	url_view_Player = "{% url 'view' 'Player' '00' %}"; // 00 is replaced by PK in the JavaScript code		
	url_view_Team = "{% url 'view' 'Team' '00' %}"; 	// 00 is replaced by PK in the JavaScript code		
	url_list_Sessions = "{% url 'list' 'Session'%}";		
</script>
{% endblock %}

{% block endscript %}
<script src="{% static 'CoGs/js/view_leaderboards.js' %}"></script>	
{% endblock %}


