{% extends "CoGs/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

{#TODO: Add previous and next buttons for navigating items easily. Should go via the models order by value, the order they are listed in on lists.#}

<p>
{% if user.is_authenticated %}
	<a href="{% url 'edit' model_name pk %}">[Edit]</a>
	<a href="{% url 'delete' model_name pk %}">[Delete]</a>
	<a href="{% url 'add' model_name %}">[New]</a>
{% endif %}	  
<a href="{% url 'list' model_name %}">[List]</a>
</p>

{% if view %}
	<table>
	{{ view.as_table }}
	</table>
{#	<hr>#}
{#	<ul>#}
{#	{{ view.as_ul }}#}
{#	</ul>#}
{#	<hr>#}
{#	{{ view.as_p }}#}
{% else %}
    <p>No {{model_name}}.</p>
{% endif %}
{% endblock %}