{% extends "CoGs/base.html" %}
{% load staticfiles %}
{% block title %}Leaderboards{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'CoGs/css/leaderboards.css' %}" />
{% endblock %}

{% block content %}
{{ widget_media }}
<script>
	$.fn.select2.defaults.set( "theme", "bootstrap" );
</script>

{#   A pile of options for leaderboards that will try populate a structure in the backend - Leaderboards.views.leaderboard_options#}
{#   while enforcing some rules locally in the UI for convenience with JS. The rules can be summarised as follows:   #}

<section class="leaderboard_options">
	<div class="lbl_view">View: <img id='reloading_icon' src='{% static "Reload.apng" %}' style='vertical-align: middle; visibility:hidden;' align='right'></div>
	<div class="lbl_basic">using:</div>
	<div class="lbl_advanced"><a onclick="toggle_visibility('lo_advanced', 'grid');">Advanced options&#9660;</a></div>
	
	<div class="lo_buttons"><input type="button" id="btnLeaderboards" value="Leaderboards" onclick="refetchLeaderboards(event);"></div>
	<div class="lo_basic">
		<select id="cols" oninput='DrawTables("tblLB");'>
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		  <option>6</option>
		</select>

		<label for="cols">columns</label>,
		
		<label for="linbks">linking game and player names to</label>
			<select id="links" oninput='DrawTables("tblLB");'>
				{% for v, l in leaderboard_options.LinkSelections.items %}
				  <option value="{{ v }}">{{ l }}</option>
				{% endfor %}			  
			</select>
	</div>
	
	<div class="lo_visibiity">
		<div class="lo_highlight_players">
			<input type="checkbox" id="chkHighlightPlayers" oninput='toggle_highlights("players", this);'> 		
			<label for="chkHighlightPlayers">Highlight players</label>
		</div>
		<div class="lo_highlight_changes">
			<input type="checkbox" id="chkHighlightChanges" oninput='toggle_highlights("changes", this);'> 		
			<label for="chkHighlightChanges">Highlight changes</label>
		</div>
		<div class="lo_highlight__selected">
			<input type="checkbox" id="chkHighlightSelected" oninput='toggle_highlights("selected", this);'> 			
			<label for="chkHighlightSelected">Highlight selected players</label>
		</div>
		<div class="lo_session_details">
			<input type="checkbox" id="chkSessionDetails" oninput='DrawTables("tblLB");'> 		
			<label for="chkSessionDetails">Show session details</label>
		</div>
		<div class="lo_pre_predictions">
			<input type="checkbox" id="chkSessionAnalysisPre" oninput='DrawTables("tblLB");'> 		
			<label for="chkSessionAnalysisPre">Show TrueSkill Predictions</label>
		</div>	
		<div class="lo_post_predictions">
			<input type="checkbox" id="chkSessionAnalysisPost" oninput='DrawTables("tblLB");'> 
			<label for="chkSessionAnalysisPost">Show Post-Session TrueSkill Predictions</label>
		</div>	
	</div>	
	
	<section class="lo_advanced">
		<div class="label_formatting">Formatting:</div>
		<div class="label_filtering">Filtering:</div>
		<div class="filter_games">Games:</div>
		<div class="intro_games">Display only leaderboards</div>
		<div class="filter_players">Players</div>
		<div class="intro_players">Show only</div>
		<div class="label_perspective">Perspective:</div>
		<div class="label_evolution">Evolution:</div>
	  
		<div class="select_name_format">
			Use player 
			<select id="names">
				{% for v, l in leaderboard_options.NameSelections.items %}
				  <option value="{{ v }}">{{ l }}</option>
				{% endfor %}			  
			</select>
		</div>
	  
		<div class="selectors_multi">
		    <div class="label_games">Games(s)</div>
		    <div class="select_games">{{ widget_games }}</div>
		    <div class="label_leagues">League(s)</div>
		    <div class="select_leagues">{{ widget_leagues }}</div>
		    <div class="label_players">Players(s)</div>
		    <div class="select_players">{{ widget_players }}</div>
		</div>
	  
		<div class="filter_games_selected">
			<input type="checkbox" id="chk_game_selected"> 
			<label for="chk_game_selected">for the <b>selected</b> games (above).</label>
	 	</div>
	
		<div class="filter_games_top_n">
			<input type="checkbox" id="chk_game_top_n">
			<label for="num_games">for the</label>
			<input type="number" id="num_games" min="0" class="Number" style="width: 5ch;" oninput="blank_zero(this); check_check(this, '#chk_game_top_n');"> 
			<label for="num_games"><b>most popular</b> games</label>
		</div>
		
	  	<div class="filter_games_played_since">
			<input type="checkbox" id="chk_game_activity"> 
			<label for="changed_since">that <b>changed on or after</b>: </label>
			<input class="DateTimeField" id="changed_since" type="text" onchange="check_check(this, '#chk_game_activity'); copy_if_empty(this,'#compare_back_to');">
	  	</div>
	  
	  	<div class="filter_games_league_any">
			<input type="checkbox" id="chk_game_league_any" oninput="only_one(this, '#chk_game_league_all')"> 
			<label for="chk_game_league_any">for games played by <b>any</b> of the selected <b>leagues</b> (above)</label>
	  	</div>
	  	
	  	<div class="filter_games_league_all">
			<input type="checkbox" id="chk_game_league_all" oninput="only_one(this, '#chk_game_league_any')"> 
			<label for="chk_game_league_all">for games played by <b>all</b> of the selected <b>leagues</b> (above)</label>
	  	</div>
	  	
	  	<div class="filter_games_player_any">
			<input type="checkbox" id="chk_game_player_any" oninput="only_one(this, '#chk_game_player_all')"> 
			<label for="chk_game_player_any">for games played by <b>any</b> of the selected <b>players</b> (above)</label>
	  	</div>
	  	
	 	<div class="filter_games_player_all">
			<input type="checkbox" id="chk_game_player_all" oninput="only_one(this, '#chk_game_player_any')"> 
			<label for="chk_game_player_all">for games played by <b>all</b> of the selected <b>players</b> (above)</label>
	  	</div>

	  	<div class="filter_games_session">
			<input type="checkbox" id="chk_game_session"> 
			for games played in the last session of  
			<input type="number" id="num_days" min="0" class="Number" style="width: 5ch" onchange="blank_zero(this); check_check(this, '#chk_game_session'); mirror(this,'#num_days_ev');"> 
			<label for="num_days">days duration</label> 
	  	</div>
	
	  	<div class="filter_players_top">
			<input type="checkbox" id="chk_player_top"> 
			<input type="number" id="num_players_top" min="0" class="Number" style="width: 5ch;" oninput="blank_zero(this); check_check(this, '#chk_player_top');">
			<label for="num_players_top">top players</label>   
	  	</div>
	  	
	  	<div class="filter_players_above">
			<input type="checkbox" id="chk_player_above"> 
			<input type="number" id="num_players_above" min="0" class="Number" style="width: 5ch;" oninput="blank_zero(this); check_check(this, '#chk_player_above');">   
			<label for="num_players_above">players above each selected player (above)</label>   
	  	</div>
	  	
	  	<div class="filter_players_below">
			<input type="checkbox" id="chk_player_below"> 
			<input type="number" id="num_players_below" min="0" class="Number" style="width: 5ch;" oninput="blank_zero(this); check_check(this, '#chk_player_below');">   
			<label for="num_players_below">players below each selected player (above)</label>   
	  	</div>
	  	
	  	<div class="filter_players_min_playcount">
			<input type="checkbox" id="chk_player_min_count"> 
			<label for="min_plays">players who have <b>played the game at least</b> </label> 
			<input type="number" id="min_plays" min="0" class="Number" style="width: 5ch;" oninput="blank_zero(this); check_check(this, '#chk_player_min_count');">
			<label for="min_plays"><b>times</b></label>
	  	</div>
	  	
	  	<div class="filter_players_played_since">
			<input type="checkbox" id="chk_player_played_since"> 
			<label for="played_since">players who have <b>played the game since</b> </label> 
			<input class="DateTimeField" id="played_since" type="text" onchange="check_check(this, '#chk_player_played_since');">
	  	</div>
	  	
	  	<div class="filter_players_league_any">
			<input type="checkbox" id="chk_player_league_any" oninput="only_one(this, '#chk_player_league_all')"> 
			<label for="chk_player_league_any">players in <b>any</b> of the selected leagues (above)</label>
	  	</div>
	  	
	  	<div class="filter_players_league_all">
			<input type="checkbox" id="chk_player_league_all" oninput="only_one(this, '#chk_player_league_any')"> 
			<label for="chk_player_league_all">players in <b>all</b> of the selected leagues (above)</label>
	  	</div>
	  
		<div class="select_perspective">
			<label for="as_at">Show leaderboards as they were at: </label>
			<input class="DateTimeField" id="as_at" type="text" > <label>(i.e. historic snapshots)</label><br>
	  	</div>
	  
		<div class="select_evolution">Compare each leaderboard with:</div>
		
	  	<div class="select_evolution_none">
			<input type="radio" name="evolution_selection" value="select_evolution_none">
			<label for="select_evolution_none">nothing</label>
	  	</div>
	
	  	<div class="select_evolution_n_prior">
			<input type="radio" name="evolution_selection" value="n_prior">
			<input type="number" id="compare_with" min="0" class="Number" style="width: 5ch" oninput="blank_zero(this); check_radio(this, 'evolution_selection', 'n_prior', 'select_evolution_none');">
			<label for="compare_with">prior leaderboards</label>
	  	</div>
	
	  	<div class="select_evolution_back_to">
			<input type="radio" name="evolution_selection" value="back_to">
			<label for="compare_back_to">leaderboards back to:</label> 
			<input class="DateTimeField" id="compare_back_to" type="text" onchange="check_radio(this, 'evolution_selection', 'back_to', 'select_evolution_none');">
	  	</div>
	
	  	<div class="select_evolution_session">
			<input type="radio" name="evolution_selection" value="session_impact">
			<label for="num_days_ev">leaderboards back to the start of the last game session of</label> 
			<input type="number" id="num_days_ev" min="0" class="Number" style="width: 5ch" oninput="blank_zero(this); check_radio(this, 'evolution_selection', 'session_impact', 'select_evolution_none'); mirror(this,'#num_days');">
			<label for="num_days_ev">days duration</label>
	  	</div>
	
	  	<div class="button_copy"><button type="button" id='btnCopy' onclick="prepare_target();" data-clipboard-target="#tblLB_naked">Copy</button> </div>
	  	<div class="label_copy"> leaderboards to clipboard </div>
	
	  	<div class="button_url"> <button type="button" id='btnShowURL' onclick="show_url();">Show</button> </div> 	
	  	<div class="label_url"> URL</div>
	</section>	
</section>

{#	PAGE HEADER #}

<h3><label id='lblTotalCount'></label><label id='lblSnapCount' style='margin-left:1ch'></label></h3>

{# THE LEADERBOARDS! - Placeholder filled by Javascript rendered of the template or ajax provided data #}
		
<table id='tblLB'></table>

{% endblock %}

{% block startscript %}
<script>
	// Nab the options and their defaults from context
	var options = {{ options|safe }};
	var defaults = {{ defaults|safe }};

	// The big one! Leaderboards. This is a structure of lists within lists
	// Games, Snapshots and Players in that order. 
	//
	// see view_Leaderboards for specs and generation of what is delivered, but here is
	// the expectation:
	// A list of lists which have four values: Game PK, Game BGGid, Game name, Snapshots
	// Snapshots is a list of lists which have four values: Date time string, count of plays, count of sessions, Leaderboard
	// Leaderboard is a list of lists which have six values: Player PK, Player BGGid, Player name, Trueskill rating, Play count, Victory count
	//
	// So lists within lists within a list. This is what we're here to present.
	//
	// As a side note, the standard view has one snapshot, the current ratings, and leaderboards pr at some other specified time (as_at) 
	// Extra snapshots are expected when asked for (for comparisons with history and evolutionary examinations), one
	// extra snapshot per compare_with (a number specifying how many) or a variable number if compare_back_to is specified, 
	// up to and including the snapshot at as_at or now if as_at isn't specified.  
	
	var leaderboards = {{leaderboards|safe}};
	
	/// We can't access template variables in the included static javascript so here is 
	// where we nab what we need for the Javascript and stow in javascript variables that
	// the code in the included .js file can see.  
	
	// Note the initial value of various controls on the view
	value_date_format = "{{default_datetime_input_format}}";
		
	// And some URLs
	url_leaderboards = "{% url 'leaderboards' %}";
	url_json_leaderboards = "{% url 'json_leaderboards' %}"
	
	url_view_Game = "{% url 'view' 'Game' '00' %}";		// 00 is replaced by PK in the JavaScript code
	url_view_Player = "{% url 'view' 'Player' '00' %}"; // 00 is replaced by PK in the JavaScript code		
	url_view_Team = "{% url 'view' 'Team' '00' %}"; 	// 00 is replaced by PK in the JavaScript code		
	url_list_Sessions = "{% url 'list' 'Session'%}";
	
	// A URL for the Select2 widgets (initilising them is a little involved)
	url_selector = "{% url 'autocomplete_flexible' '__MODEL__' 'pk' 'in' %}"		
</script>
{% endblock %}

{% block endscript %}
<script src="{% static 'CoGs/js/view_leaderboards.js' %}"></script>	
{% endblock %}


