@charset "utf-8";
/* CSS Document */

:root {
  --background-color: HSL(208, 100%, 97%);
  --background-shaded: HSL(208, 100%, 93%);
  --background-highlight: HSL(92, 100%, 93%);
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    font-size: 100%;
}

#headers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

#header {
    width: 100%;
    padding: 10px;
	box-sizing: border-box;
    overflow: hidden;
    background: #4a04cc;
    color: #ffc;
}

#header a:link, #header a:visited {
    color: #fff;
}

#header a:hover {
    text-decoration: underline;
}

#heading {
	background-color: var(--background-color);
}

/*
	Headings have browser specified margin which is transparent and not welcome in the fixed headers
	So we convert it to padding here for the heading and subheading of the page
*/
#heading h1 {
	margin: 0;
	padding-top: 0.67em;
	padding-left: 10px;
	background-color: var(--background-color);
}

#heading h2 {
	margin: 0;
	padding-top: 0.67em;
	padding-left: 10px;
	background-color: var(--background-color);
}

#subheader {
    width: 100%;
    padding: 10px;
	box-sizing: border-box;
    overflow: hidden;
    background-color: var(--background-color);
}

.button_left {
	float: left;
	margin-right: 0.5em;
	margin-bottom: 5px;
}

.button_right {
	float: right;
	margin-left: 0.5em;
	margin-bottom: 5px;
}

button:hover:enabled { cursor: pointer; }
button:hover:disabled { cursor: wait; }

/*
	This is a bug fix of sorts. The DAL select2 widgets take a visble moment to render, before which
	the standard HTML selct widget is visible. The style difference is so glarring this jolts visually

	Following advice here:
		https://stackoverflow.com/questions/29849666/counteract-a-bootstrap-select2-rendering-delay

	we apply a style to underlying selct widget that mimics the coming style from DAL so the change
	is less jarring. In the ideal we'd get it exact, but that's a problem to solve another day. For
	now this is pretty close visually.

	Width is the big unknown here. DAL seems to put thes eodd px widths on the widgets and well, I
	picked one of the form fields to tune this to, but they are not all the same. DAL can't be
	calculating this server side surely and it must be done in Javascript.
*/
.ModelChoiceField, #select_game_right, #select_game_below {
  display: inline;
  cursor: pointer;

  color: #555A5F;				/* Matches text color to DAL's */
  background-color: #FFFFFF;    /* Matches nbox inside color to DAL's */

  /* Matches border to that of DAL's */
  border: 1px solid;
  border-color: #CCCCCC;
  border-radius: 4px;
  box-sizing: border-box;

  font: unset;        /* Removes all default font stuff */
  font-size: 14px;    /* Sets font to same size as DAL's */
  padding-left: 16px; /* Moves text to right some to match DAL's */
  /*margin-top: -1px;   /* Moves the whole select boxx down 1 pixel to match DAL's */

  height: 28px;
  width: 426.91px;    /* Hard to know how wide the Select2 will be */
}

#select_game_right, #select_game_below {
	padding-top: 5px;
	position: relative;
	bottom: -3px;
}

.select2-container {
    color: Black;
}

/* .select2-search__field { */
/* 	line-height: 1 !important; */
/* } */

/* .select2-search__field, */
/* .select2-selection__rendered */
/* .select2-search--inline, */
/* .select2-container--bootstrap,  */
/* .select2-selection--multiple, */
/* { */
/*     line-height: 1 !important; */
/* 	height: 16px !important; */
/*     min-height: 16px !important; */
/* } */

p {
	margin-top:0;
}

ul, ol {
	margin-top:0;
	margin-left:1em;
	padding-left:0;
}

li {
	margin-bottom:0;
}

/* A simple override to kill margins and padding on an element */
.tight
{
  padding: 0 !important;
  margin: 0 !important;
  border-spacing: 0 !important;
}

/* A simple override to force an element to consume space  */
.greedy {
    width: 100% !important;
}

th {
    text-align: left;
    white-space: nowrap;
}

td.list_menu_cell {
	vertical-align: top;
}

td.list_index_cell {
	vertical-align: top;
}

td.list_item {
	vertical-align: top;
}

.Number {}
.String {}

div.Error {
	margin-top: 30px;
	color: red;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: blue;
}

a.field_link:link {
    text-decoration: none;
    color: initial;
}

a.field_link:visited {
    text-decoration: none;
    color: initial;
}

a:hover {
    font-size: 110%;
    color: blue;
}

a:active {
    font-size: 110%;
    color: blue;
}

table.deflist {
    margin-left: 50px;
    margin-top: 20px;
    border-collapse: collapse;
}

th.deflist, td.deflist {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-spacing: 0px;
    vertical-align: top;
}

table.players, table.team {
    margin-left: 50px;
    width: 0%;
}

table.teamplayers {
    margin-left: 100px;
    width: 0%;
}

span.trash {
	display: none;
}

table.trash {
	display: none;

	border-color: #600;
	border-style: solid;
	border-collapse: collapse;
	border-spacing: 10px;
	border-width: 1px 1px 1px 1px;
}

table.trash th, table.trash td {
	background-color: #FFF7F0;
}

table.options
{
	margin-left: 10px;
	margin-right: 10px;

	border-color: #600;
	border-style: solid;
	border-collapse: collapse;
	border-spacing: 10px;
	border-width: 1px 1px 1px 1px;
}

td.options, th.options
{
	margin: 0;

	padding-top: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;

	white-space: nowrap;

	border-color: #600;
	border-style: none;
	border-width: 0 0 0 0;
}

td.options.indent, th.options.indent
{
	padding-left: 5ch !important;
}

table.results {
    margin-left: 50px;
    margin-top: 20px;
    border-collapse: collapse;
}

tr.error, ul.errorlist {
	color: red;
}

td.results, th.results {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-spacing: 0px;
}

td.label {
    padding-right: 30px;
    white-space: nowrap;
}

td.note {
    padding-left: 30px;
    white-space: nowrap;
}


/* DateTimeFields should be wide enough for the date_time formats in use */
.DateTimeField:not(.dateonly) {
	width: 30ch;
}

div.inspector th,
div.inspector td
{
	vertical-align: top;
}

.ordering_widget {
     display:        inline-block;
     color:          #444;
     border:         1px solid #CCC;
     background:     #DDD;
     padding:        5px;
     box-shadow:     0 0 5px -1px rgba(0,0,0,0.2);
     text-align:     right;
     vertical-align: middle;
 }

