{% load filters %}
{% load tags %}
{% load humanize %}

<table class="events" id="events">
	<thead>
		<tr>
			<th data-type="number">Event</th>
			<th data-type="duration_phrase">When</th>
			<th data-type="date">Start</th>
	{#		<th>End</th>#}
			<th data-type="duration_phrase">Duration</th>
			<th data-type="duration_phrase">Gap Time</th>
			<th style="text-align: center;" data-type="number">Location</th>
			<th style="text-align: center;" data-type="number">Locations</th>
			<th style="text-align: center;" data-type="number">Players</th>
			<th style="text-align: center;" data-type="number">Games Played</th>
			<th style="text-align: center;" data-type="number">Sessions Played</th>
		</tr>
	</thead>
	<tbody>
	{% for event in events %}
		<tr>
			<td>{{ event.event }}</td>
			<td>{{ event.start|naturaltime }}</td>
			<td>{{ event.start }}</td>
	{#		<td>{{ event.end }}</td>#}
			<td>{{ event.duration|duration:"phrase,minutes" }}</td>
			<td>{{ event.gap_time|duration:"phrase,days" }}</td>
			<td style="text-align: center;">{% gattribute "Location" event.location_ids.0 "name" %}</td>
			<td style="text-align: center;">
				<details>
					<summary>{{ event.locations }}</summary>
					{% for id in event.location_ids %}
						{% gattribute "Location" id "name" %}<br>
					{% endfor %}
				</details>
			</td>
			<td style="text-align: center;">
				<details>
					<summary>{{ event.players }}</summary>
					{% for id in event.player_ids %}
						{% gattribute "Player" id "full_name" %}<br>
					{% endfor %}
				</details>
			</td>
			<td style="text-align: center;">
				<details>
					<summary>{{ event.games }}</summary>
					{% for id in event.game_ids %}
						{% gattribute "Game" id "name" %}<br>
					{% endfor %}
				</details>
			</td>
			<td style="text-align: center;">
				<details>
					<summary>{{ event.sessions }}</summary>
					<div style="text-align: left;">
					{% for id in event.session_ids %}
						{% gattribute "Session" id "event_detail" %}<br>
					{% endfor %}
					<div>
				</details>
			</td>
		</tr>
	{% endfor %}
	<tbody>
</table>