<fieldset class="monthweek-select" data-name="monthweek" id="monthweek">
  <div class="weeknumbers">
    <label>
      <input type="checkbox" value="1" name="monthweek"> 1
    </label>
    <label>
      <input type="checkbox" value="2" name="monthweek"> 2
    </label>
    <label>
      <input type="checkbox" value="3" name="monthweek"> 3
    </label>
    <label>
      <input type="checkbox" value="4" name="monthweek"> 4
    </label>
    <label>
      <input type="checkbox" value="5" name="monthweek"> 5
    </label>
  </div>
</fieldset>