{# Taken from https://jsfiddle.net/schinckel/gge7v234/ #}
<fieldset class="weekday-select" data-name="days" id="days">
  <div class="week-parts">
    <label>
      <input type="checkbox" data-values="0,1,2,3,4,5,6"> Any day
    </label>
    <label>
      <input type="checkbox" data-values="0,6"> Weekends
    </label>
    <label>
      <input type="checkbox" data-values="1,2,3,4,5"> Weekdays
    </label>
  </div>
  <div class="days">
    <label>
      <input type="checkbox" value="1" name="days"> Monday
    </label>
    <label>
      <input type="checkbox" value="2" name="days"> Tuesday
    </label>
    <label>
      <input type="checkbox" value="3" name="days"> Wednesday
    </label>
    <label>
      <input type="checkbox" value="4" name="days"> Thursday
    </label>
    <label>
      <input type="checkbox" value="5" name="days"> Friday
    </label>
    <label>
      <input type="checkbox" value="6" name="days"> Saturday
    </label>
    <label>
      <input type="checkbox" value="0" name="days"> Sunday
    </label>
  </div>
</fieldset>